@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("../assets/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url("../assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: 'Montserrat Light';
  src: url("../assets/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: 'Cinzel Regular';
  src: url("../assets/fonts/Cinzel-Regular.ttf");
}

@font-face {
  font-family: 'Cinzel Black';
  src: url("../assets/fonts/Cinzel-Black.ttf");
}

@font-face {
  font-family: 'Cinzel Bold';
  src: url("../assets/fonts/Cinzel-Bold.ttf");
}

.navbar {
  background: #B0A89E;
  padding: 1em 2em;
  position: relative;
  top: 0;
  right: 0;
  bottom: 1;
  height: 3.125em;
  margin: 0;
}

.navbar .logo {
  -o-object-fit: contain;
     object-fit: contain;
  height: 3.125em;
  width: 3.125em;
}

.navbar nav.menu-btn {
  display: block;
  -webkit-transition-timing-function: 3s all;
          transition-timing-function: 3s all;
}

.navbar nav .btn-menu-close {
  float: right;
  margin: .5em;
  cursor: pointer;
}

.navbar nav {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  right: 0;
  top: 0;
  height: 50%;
  padding: 1em;
  background: #3F3D3F;
}

.navbar .nav-menu {
  margin-top: 5em;
}

.navbar li {
  list-style-type: none;
}

.navbar li a {
  display: block;
  text-decoration: none;
  list-style-type: none;
  padding: .5em;
  font-size: 1.5em;
  text-align: center;
  font-family: "Cinzel Bold";
  color: #F0ECEA;
}

.navbar li a:hover {
  -webkit-transition: .2s  ease-in-out;
  transition: .2s  ease-in-out;
  color: #7A583E;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
}

.navbar .mobile-menu {
  cursor: pointer;
}

.navbar section {
  padding: 0;
}

@media screen and (min-width: 768px) {
  /*     .navbar{
        position: sticky;
        z-index: 10;
    }
    .btn-menu-open, .btn-menu-close{
        display: none;
    }
    .navbar .container{
        display:grid;
        grid-template-columns: 180px auto;
        justify-content: space-between;
    }

    .navbar nav{
        display:flex;  
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;
        .nav-menu{
            margin: 0;
            display: flex;
            align-items: center;
        }
        li {
            padding: .1em .1em;
        }
        a{
            font-size: 1em;
            font-family: fontsFamily(bold-c);
            transition: .2s  ease-in-out;
        }
    } */
}

@media screen and (min-width: 992px) {
  section {
    padding: 10em 4em;
  }
  .navbar {
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
  }
  .btn-menu-open, .btn-menu-close {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav .nav-menu {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar nav li {
    padding: .1em .1em;
  }
  .navbar nav a {
    font-size: 1em;
    font-family: "Cinzel Bold";
    -webkit-transition: .2s  ease-in-out;
    transition: .2s  ease-in-out;
  }
}

.hero {
  padding: 1em 2em;
  background: #F0ECEA;
}

.hero h1 {
  font-size: "3.5rem";
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.hero .hero-title {
  font-family: "Cinzel Bold";
  font-size: "3.5rem";
  color: #7A583E;
  line-height: 97px;
  text-align: center;
}

.hero p {
  font-size: "1.125rem";
  font-family: "Montserrat-SemiBold";
  font-weight: 400;
  line-height: 1.5;
  color: #3F3D3F;
  text-align: center;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.hero .hero-img {
  display: block;
  margin: 2rem auto;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.intro {
  padding: 1em 2em;
  background: #F0ECEA;
  display: block;
}

.intro .intro-box-1 {
  border: 1px solid #7A583E;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
}

.intro .intro-box-1 .intro-img {
  position: relative;
  right: 10px;
  top: 20px;
  max-width: 100%;
}

.intro .intro-box-2 {
  display: block;
  right: 0;
  text-align: center;
}

.intro .intro-box-2 p {
  font-size: 1.2rem;
  color: #3F3D3F;
  padding: 0 1rem;
  line-height: 1.5;
  font-family: "Montserrat Regular";
}

.intro .intro-btn {
  font-family: "Montserrat Regular";
  color: #F0ECEA;
  width: 189px;
  height: 65px;
  background-color: #805B6A;
  outline: none;
  border: none;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.intro .intro-btn:hover {
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: none;
  color: #F0ECEA;
  background-color: #52353f;
  -webkit-filter: drop-shadow(0px 6px 4px rgba(0, 10, 0, 0.4));
          filter: drop-shadow(0px 6px 4px rgba(0, 10, 0, 0.4));
  outline: none;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*----Breakpoints Hero---- */
@media screen and (min-width: 768px) {
  body, html {
    font-size: 18px;
  }
  h1 {
    font-size: 60px;
  }
  .hero {
    padding: 5em 2em;
  }
  .hero .hero-img {
    margin: 4em 0;
  }
}

@media screen and (min-width: 992px) {
  body, html {
    font-size: 22px;
  }
  h1 {
    font-size: 70px;
  }
  p {
    margin: 0 0 3rem 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
  }
  .hero .hero-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 8em auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .hero p {
    font-size: "1.25rem";
  }
  .grid-container {
    display: -ms-grid;
    display: grid;
    grid-gap: 1rem;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "grid-description  grid-img" "grid-btn         grid-img ";
    justify-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .grid-container .grid-description {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: grid-description;
    text-align: left;
  }
  .grid-container .grid-description p {
    padding: 0;
  }
  .grid-container .grid-img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: grid-img;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .grid-container .grid-btn {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: grid-btn;
    -ms-grid-column-align: start;
        justify-self: start;
  }
}
/*# sourceMappingURL=main.css.map */