body, html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 16px;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, li, a, p {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("../assets/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url("../assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: 'Montserrat Light';
  src: url("../assets/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: 'Cinzel Regular';
  src: url("../assets/fonts/Cinzel-Regular.ttf");
}

@font-face {
  font-family: 'Cinzel Black';
  src: url("../assets/fonts/Cinzel-Black.ttf");
}

@font-face {
  font-family: 'Cinzel Bold';
  src: url("../assets/fonts/Cinzel-Bold.ttf");
}

.navbar {
  position: fixed;
  background: rgba(175, 167, 157, 0.699);
  padding: 1em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  z-index: 1;
}

.logo {
  -o-object-fit: contain;
     object-fit: contain;
  height: 3em;
  width: 3em;
}

nav.menu-btn {
  display: block;
  -webkit-transition-timing-function: 3s all;
          transition-timing-function: 3s all;
}

nav .btn-menu-close {
  float: right;
  margin: .5em;
  cursor: pointer;
}

nav {
  display: none;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  right: 0;
  top: 0;
  height: 100vh;
  padding: 1em;
  background: #3F3D3F;
}

.nav-menu {
  margin-top: 5em;
}

li {
  list-style-type: none;
}

li a {
  display: block;
  text-decoration: none;
  list-style-type: none;
  padding: .5em;
  font-size: 1.5em;
  text-align: center;
  font-family: "Cinzel Bold";
  color: #F0ECEA;
}

li a:hover {
  -webkit-transition: .2s  ease-in-out;
  transition: .2s  ease-in-out;
  color: #7A583E;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
}

.mobile-menu {
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  body, html {
    font-size: 1.5rem;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
  }
  .navbar .logo {
    height: 2.5rem;
    width: 2.5rem;
  }
  .btn-menu-open, .btn-menu-close {
    display: none;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    background: none;
    position: unset;
    height: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
  }
  .navbar nav .nav-menu {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar nav li {
    padding: .1em .1em;
  }
  .navbar nav a {
    font-size: 1em;
    font-family: "Cinzel Bold";
    -webkit-transition: .2s  ease-in-out;
    transition: .2s  ease-in-out;
  }
}

/* Mobile */
.hero {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-image: url("../../assets/images/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .content-hero {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .content {
  text-align: center;
}

.hero .content h1 {
  font-size: "3.5rem";
  font-family: "Cinzel Bold";
  color: #3F3D3F;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1em;
}

.hero .content p {
  font-size: "1.125rem";
  font-family: "Montserrat-SemiBold";
  font-weight: 500;
  padding: 1em;
  line-height: 1.5;
  color: #3F3D3F;
  margin-bottom: 2.125em;
}

.hero .hero-btn {
  cursor: pointer;
  font-family: "Montserrat Regular";
  color: #F0ECEA;
  width: 189px;
  height: 65px;
  background-color: #805B6A;
  outline: none;
  border-radius: 8px;
  border: none;
  padding: .5rem;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.8));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.8));
}

@media screen and (min-width: 768px) {
  .hero .hero-btn {
    width: 255px;
  }
}

@media screen and (min-width: 992px) {
  .hero .hero-btn {
    width: 255px;
  }
}

.hero .hero-btn:hover {
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: none;
  border-radius: 8px;
  color: #F0ECEA;
  background-color: #52353f;
  -webkit-filter: drop-shadow(0px 6px 4px rgba(0, 10, 0, 0.4));
          filter: drop-shadow(0px 6px 4px rgba(0, 10, 0, 0.4));
  outline: none;
}

.intro {
  padding: 1em 2em;
  background: #F0ECEA;
  display: block;
}

.intro .intro-box-1 {
  border: 1px solid #7A583E;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
}

.intro .intro-box-1 .intro-img {
  position: relative;
  right: 10px;
  top: 20px;
  max-width: 100%;
}

.intro .intro-box-2 {
  display: block;
  right: 0;
  text-align: center;
}

.intro .intro-box-2 p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.2rem;
  color: #3F3D3F;
  line-height: 1.5;
  font-family: "Montserrat Regular";
}

.intro .intro-btn {
  cursor: pointer;
  font-family: "Montserrat Regular";
  color: #F0ECEA;
  width: 189px;
  height: 65px;
  background-color: #805B6A;
  outline: none;
  border-radius: 8px;
  border: none;
  padding: .5rem;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.8));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.8));
}

@media screen and (min-width: 768px) {
  .intro .intro-btn {
    width: 255px;
  }
}

@media screen and (min-width: 992px) {
  .intro .intro-btn {
    width: 255px;
  }
}

.intro .intro-btn:hover {
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: none;
  border-radius: 8px;
  color: #F0ECEA;
  background-color: #52353f;
  -webkit-filter: drop-shadow(0px 6px 4px rgba(0, 10, 0, 0.4));
          filter: drop-shadow(0px 6px 4px rgba(0, 10, 0, 0.4));
  outline: none;
}

/*----Breakpoints---- */
@media screen and (min-width: 768px) {
  /* Hero */
  body, html {
    font-size: 20px;
  }
  .hero {
    padding: 5em 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .content-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .content-hero .content {
    text-align: left;
  }
  .content-hero .content h1 {
    font-size: 2.5rem;
  }
  .content-hero .content p {
    width: 511px;
    padding: 0;
  }
  .hero-btn {
    cursor: pointer;
    font-family: "Montserrat Regular";
    color: #F0ECEA;
    width: 189px;
    height: 65px;
    background-color: #805B6A;
    outline: none;
    border-radius: 8px;
    border: none;
    padding: .5rem;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.8));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.8));
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) {
  .hero-btn {
    width: 255px;
  }
}

@media screen and (min-width: 768px) and (min-width: 992px) {
  .hero-btn {
    width: 255px;
  }
}

@media screen and (min-width: 768px) {
  .hero-btn:hover {
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border: none;
    border-radius: 8px;
    color: #F0ECEA;
    background-color: #52353f;
    -webkit-filter: drop-shadow(0px 6px 4px rgba(0, 10, 0, 0.4));
            filter: drop-shadow(0px 6px 4px rgba(0, 10, 0, 0.4));
    outline: none;
  }
  /* Intro */
  .intro {
    height: 100vh;
  }
}

@media screen and (min-width: 992px) {
  body, html {
    font-size: 24px;
  }
  /* Hero */
  .hero .content-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hero .content-hero .content {
    text-align: left;
  }
  .hero .content-hero .content h1 {
    font-size: 3.181818rem;
  }
  .hero .content-hero .content p {
    margin: 0 0 3rem 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 511px;
  }
  /* Intro */
  .grid-container {
    display: -ms-grid;
    display: grid;
    grid-gap: 1rem;
    -ms-grid-columns: 50% auto;
        grid-template-columns: 50% auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "grid-description  grid-img" "grid-btn         grid-img ";
    justify-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .grid-container .grid-description {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: grid-description;
    text-align: left;
  }
  .grid-container .grid-description p {
    padding: 0;
  }
  .grid-container .grid-img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: grid-img;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .grid-container .grid-btn {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: grid-btn;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .intro-box-1 .intro-img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
/*# sourceMappingURL=main.css.map */