//Abstracts
@import "abstracts/variables", "abstracts/boilerplate", "abstracts/mixins","abstracts/functions","abstracts/animations";
//Base
@import "base/typography";

//components
@import "components/footer";

//Pages
@import "pages/home";
@import "pages/products";