<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg" href="../assets/icons/logo.svg" />
        <link
            rel="stylesheet"
            href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
            integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="../css/normalize.css" />
        <link rel="stylesheet" href="../css/main.css" />
        <title>Etéreo Art Studio</title>
    </head>
    <body>
        <section class="navbar">
            <a href="../index.html"
            ><img class="logo" src="../assets/images/logo.png" alt="logo"
            /></a>
            <img
            id="btn-open"
            class="btn-menu-open"
            src="../assets/icons/mobile-menu.svg"
            alt="opne menu"
            />
            <nav>
            <img
                id="btn-close"
                class="btn-menu-close"
                src="../assets/icons/exit.svg"
                alt="close menu"
            />
            <ul class="nav-menu">
                <li><a class="go-us" href="../views/about.html">NOSOTROS</a></li>
                <li><a class="go-products" href="../views/catalogue.html">CATALOGO</a></li>
                <li><a class="go-blog" href="#">BLOG</a></li>
                <li><a class="go-contact" href="../views/contact.html">CONTACTO</a></li>
            </ul>
            </nav>
        </section>
        <main class="container-about">
            <section class="hero-about">
                <div class="box-image">
                    <div class="border-about">
                        <img class="about-img" src="../assets/images/hero-3.png" alt="hero image"/>
                    </div>
                </div>
                <div class="box-text">
                    <h1 class="title-about">CONOCENOS</h1>
                    <p class="text-about">
                        Somos Nicolás y Agostina. Vivimos en Yerba Buena, una ciudad de <span>Tucumán</span> muy cerca de las yungas y el cerro, donde se aprecia lo lindo y puro de la naturaleza.
                    </p>
                </div>
            </section>  
            <section class="intro-about">
                <div class="border-intro">
                   
                </div>
                <div class="bkg-p">
                    <p class="text-about">
                        Descubrimos que podíamos detener a la <span>naturaleza</span> en el tiempo usando un <span>material muy noble</span> como la <span>resina.</span> Aprendimos a manipularla y descubrimos un mundo increíble, lleno de <span>colores y brillo</span>, con el cual podíamos crear <span>objetos únicos.</span>
                    </p>
                </div>
            </section>
            <section class="cares-about">
                <div class="cares-box-1">
                    <h2 class="title-cares">CUIDAMOS EL MEDIO AMBIENTE</h2>
                    <p class="text-cares">
                        Somos conscientes de nuestros desechos. Buscamos transmitir un <span>mensaje de concientización</span> sobre el uso de recursos y enseñarles cómo <span>cuidamos el medioambiente</span> separando, limpiando y reciclando residuos. 
                    </p>
                </div>
                <div class="flex-line">
                    <span class="line-separator"></span>
                </div> 
            </section> 
           
            <section class="products-about">
                <div class="box-products-1">
                    <h2>
                        OFRECEMOS CALIDAD Y PRECIOS ACCESIBLES
                    </h2>
                    <p>
                        Queremos entender lo que el cliente necesita y brindar un trabajo con el que queden satisfechos. 
                    </p>
                </div>
                <div class="box-products-2">
                    <div class="products-border">
                        <img class="products-image" src="../assets/images/about-1.png" alt="care image"/>
                    </div>
                </div>
            </section> 
        </main>
        <footer class="footer">
            <div class="footer-social">
            <p>Seguinos:</p>
            <div>
                <a href="https://www.instagram.com/etereoartstudio/">
                <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.facebook.com/EtereoArtStudio">
                <i class="fab fa-instagram"></i>
                </a>
            </div>
            </div>
            <div class="footer-subs">
            <p>Newsletter:</p>
            <input type="text" />
            <i class="far fa-envelope"></i>
            </div>
            <div class="footer-info">
            <p>Privacidad | Términos y condiciones</p>
            <img class="footer-logo" src="../assets/images/logo.png" alt="logo" />   
            <p>©2021 Etereo Art Studio</p>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="../js/mobile-menu.js"></script>
    </body>
</html>