<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="desciption" content="Etéreo Art Studio es el sitio donde encontrar tus productos favoritos para el hogar.">
    <meta name="keywords" content="resina hogar diseño productos muebles accesorios">
    <link rel="icon" type="image/svg" href="../assets/icons/logo.svg"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/main.min.css" />
    <title>Etéreo Art Studio</title>
</head>
  <body>
    <section class="navbar">
      <a href="../index.html"
        ><img class="logo" loading="lazy" src="../assets/icons/logo.svg" alt="logo"/></a>
      <img
        id="btn-open"
        class="btn-menu-open"
        src="../assets/icons/mobile-menu.svg"
        alt="opne menu"
        loading="lazy"
      />
      <nav>
        <img
          id="btn-close"
          class="btn-menu-close"
          src="../assets/icons/exit.svg"
          alt="close menu"
          loading="lazy"
        />
        <ul class="nav-menu">
          <li><a class="go-us" href="../views/about.html">NOSOTROS</a></li>
          <li><a class="go-products" href="../views/catalogue.html">PRODUCTOS</a></li>
          <li><a class="go-blog" href="../views/faqs.html">PREGUNTAS FRECUENTES</a></li>
          <li><a class="go-contact" href="../views/contact.html">CONTACTO</a></li>
        </ul>
      </nav>
    </section>
    <section class="cat-intro">
      <div class="content-intro">
        <div class="cont-cat" data-aos="fade-in" data-aos-duration="1500">
          <h1 class="cat-intro-title"> Encontrá lo mejor  </h1>
          <h1 class="cat-intro-title"> para vos y tu hogar </h1>
        </div>
      </div>
    </section>
    <main class="container">
        <section class="products-hero">
          <h1>Elegí tu favorito</h1>
        </section>
        <aside class="filter-category">
          <h2>Categorías</h2>
          <div class="category-list">
            <div class="filter-fieldset" category="hogar">
              <div class="filter-legend" category="hogar">
                <div class="filter-title">
                  <span>Hogar</span> 
                </div>    
              </div>
              <ul class="categorys-lists"  category="hogar">
                <li><a href="#" class="category-item" subcategory="posavasos">Posavasos</a></li>
                <li><a href="#" class="category-item" subcategory="jaboneras">Jaboneras</a></li>
                <li><a href="#" class="category-item" subcategory="portacepillos">Porta Cepillos</a></li>
              </ul>
            </div>
            <div class="filter-fieldset" category="muebles">
              <div class="filter-legend" category="muebles">
                <div class="filter-title">
                  <span>Muebles</span> 
                </div>    
              </div>
              <ul class="categorys-lists"  category="muebles">
                <li><a href="#" class="category-item" subcategory="a-medida">A Medida</a></li>
                <li><a href="#" class="category-item" subcategory="tablas-de-madera">Tablas de Madera</a></li>    
              </ul>
            </div>
            <div class="filter-fieldset" category="accesorios">
              <div class="filter-legend" category="accesorios">
                <div class="filter-title">
                  <span>Accesorios</span> 
                </div>    
              </div>
              <ul class="categorys-lists"  category="accesorios">
                <li><a href="#" class="category-item" subcategory="peines">Peines</a></li>
                <li><a href="#" class="category-item" subcategory="godetes">Godetes</a></li>    
                <li><a href="#" class="category-item" subcategory="picadores">Picadores</a></li>    
                <li><a href="#" class="category-item" subcategory="bandejas">Bandejas</a></li>    
                <li><a href="#" class="category-item" subcategory="ceniceros">Ceniceros</a></li>    
              </ul>
            </div>
            <div class="filter-fieldset" category="fundas">
              <div class="filter-legend" category="fundas">
                <div class="filter-title">
                  <span>Fundas de Celular</span> 
                </div>    
              </div>
              <ul class="categorys-lists"  category="fundas">
                <li><a href="#" class="category-item" subcategory="con-stickers">Con Stickers</a></li>
                <li><a href="#" class="category-item" subcategory="pintadas-con-resina">Pintadas con Resina</a></li>
              </ul>
            </div>
            <a href="#" class="category-item all" subcategory="all">Ver todo</a>
          </div>
        </aside>
        <section class="products-container" id="list-products">
          <div class="bar-search">
            <span class="icon-search"><i class="fas fa-search"></i></span>
            <input class="input-search" type="input" placeholder="Buscar"> </input>
          </div>
          <div class="products" data-aos="fade-in" data-aos-duration="1000">
            
          </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer-social">
          <p>Seguinos:</p>
          <div>
            <a  href="https://www.facebook.com/EtereoArtStudio">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/etereoartstudio/">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
        <div class="footer-subs">
          <p>Contáctanos:</p>
          <a href="mailto:Etereoart@hotmail.com" type="submit" class="contact__button">
            <i class="far fa-envelope"></i>
          </a>
        </div>
        <div class="footer-info">
          <p>Privacidad | Términos y condiciones</p>
          <img class="footer-logo" loading="lazy" src="../assets/icons/logo.svg" alt="logo"/> 
          <p>©2021 Etereo Art Studio</p>
        </div>
      </footer>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <script src="../js/mobile-menu.js"></script>
      <script type="module" src="../js/main.js"></script>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>
  </body>
</html>