<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg" href="../assets/images/logo.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <title>Etéreo - Contacto</title>
  </head>
  <body>
    <section class="navbar">
      <a href="../index.html"
        ><img class="logo" src="../assets/images/logo.png" alt="logo"
      /></a>
      <img
        id="btn-open"
        class="btn-menu-open"
        src="../assets/icons/mobile-menu.svg"
        alt="opne menu"
      />
      <nav>
        <img
          id="btn-close"
          class="btn-menu-close"
          src="../assets/icons/exit.svg"
          alt="close menu"
        />
        <ul class="nav-menu">
          <li><a class="go-home" href="../index.html">INICIO</a></li>
          <li><a class="go-us" href="../views/about.html">NOSOTROS</a></li>
          <li>
            <a class="go-products" href="../views/products.html">PRODUCTOS</a>
          </li>
          <li><a class="go-blog" href="#">BLOG</a></li>
          <li><a class="go-contact" href="#">CONTACTO</a></li>
        </ul>
      </nav>
    </section>
    <main class="contact">
      <section class="contact-hero">
        <img src="/assets/images/main1.png" alt="" />
        <h2>¿Nos contactamos?</h2>
      </section>
      <section class="contact-info">
        <div class="contact-info-detail">
          <p><i class="far fa-envelope"></i> &nbsp; etereo@gmail.com</p>
          <p><i class="fas fa-phone-alt"></i> &nbsp; +58 381 4157-9645</p>
          <p>
            <i class="fas fa-map-marker-alt"></i> &nbsp; San Javier 2250, San
            Miguel de Tucumán, Argentina.
          </p>
        </div>
        <div class="contact-info-map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d227858.03427402262!2d-65.36281846425184!3d-26.830988390254518!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942243209c3d241b%3A0x7d4e0a9c7531c218!2sSan%20Javier%202250%2C%20T4107%20Yerba%20Buena%2C%20Tucum%C3%A1n!5e0!3m2!1sen!2sar!4v1638913925969!5m2!1sen!2sar"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
      </section>
      <section class="contact-shipping">
        <div class="contact-shipping-item">
          <h3>Sobre Envíos</h3>
          <p>
            1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
            tristique lorem id cursus sagittis. Nulla euismod.
          </p>
          <p>
            2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
            tristique lorem id cursus sagittis. Nulla euismod.
          </p>
          <p>
            3 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
            tristique lorem id cursus sagittis. Nulla euismod.
          </p>
          <p>
            4 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
            tristique lorem id cursus sagittis. Nulla euismod.
          </p>
        </div>
        <div class="contact-shipping-item">
          <h3>Métodos de Pago</h3>
          <p>
            1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
            tristique lorem id cursus sagittis. Nulla euismod.
          </p>
          <p>
            2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
            tristique lorem id cursus sagittis. Nulla euismod.
          </p>
          <p>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-visa"></i>
            <i class="far fa-money-bill-alt"></i>
          </p>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer-social">
        <p>Seguinos:</p>
        <div>
          <a href="https://www.instagram.com/etereoartstudio/">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://www.facebook.com/EtereoArtStudio">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
      <div class="footer-subs">
        <p>Newsletter:</p>
        <input type="text" />
        <i class="far fa-envelope"></i>
      </div>
      <div class="footer-info">
        <p>Privacidad | Términos y condiciones</p>
        <img class="footer-logo" src="../assets/images/logo.png" alt="logo" />
        <p>©2021 Etereo Art Studio</p>
      </div>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="../js/mobile-menu.js"></script>
    <script type="module" src="../js/search-bar.js"></script>
    <script type="module" src="../js/filter-category.js"></script>
  </body>
</html>
