<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="desciption" content="Etéreo Art Studio es el sitio donde encontrar tus productos favoritos para el hogar.">
    <meta name="keywords" content="resina hogar diseño productos muebles accesorios">
    <link rel="icon" type="image/svg" href="../assets/images/logo.png"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/normalize.css"/>
    <link rel="stylesheet" href="../css/main.min.css"/>
    <title>Etéreo Art Studio</title>
</head>
  <body>
    <section class="navbar">
      <a href="../index.html"
        ><img class="logo" loading="lazy" src="../assets/images/logo.png" alt="logo"
      /></a>
      <img
        id="btn-open"
        class="btn-menu-open"
        src="../assets/icons/mobile-menu.svg"
        alt="opne menu"
        loading="lazy"
      />
      <nav>
        <img
          id="btn-close"
          class="btn-menu-close"
          src="../assets/icons/exit.svg"
          alt="close menu"
          loading="lazy"
        />
        <ul class="nav-menu">
          <li><a class="go-us" href="../views/about.html">NOSOTROS</a></li>
          <li><a class="go-products" href="../views/catalogue.html">CATALOGO</a></li>
          <li><a class="go-blog" href="faqs.html">PREGUNTAS FRECUENTES</a></li>
          <li><a class="go-contact" href="../views/contact.html">CONTACTO</a></li>
        </ul>
      </nav>
    </section>
    <main class="container-faqs">
      <section class="bkg-faqs">
        <div class="intro-faqs" data-aos="fade-in" data-aos-duration="1500">
          <h1>PREGUNTAS FRECUENTES</h1>
          <div class="separator-line"></div>
          <p class="text-faqs">
            Si tenés dudas sobre <span>cómo personalizar y cuidar tu producto</span>, te lo contamos en esta sección.
          </p>
        </div>
        <div class="accordion">
          <div class="accordion-list">
            <div class="filter-fieldset accordion-link" category="question1">
              <div class="filter-legend" category="question1">
                <div class="filter-title">
                  <span>¿Cómo personalizo mi pedido?</span> 
                </div>    
              </div>
              <div class="categorys-lists"  category="question1">
                <p class="text-faqs">
                  Los <span>productos de cocina</span> son <span>aptos para lavavajillas</span> y <span>no son tóxicos</span> en contacto con los alimentos.
                  <span>Resisten</span> hasta 200°.
                  Todos los productos son de <span>material resistente</span> y soportan peso encima.
                  No tienen poros, por lo que <span>no se ensucia ni contamina</span> tan fácilmente como otras superficies.
                  La resina es <span>totalmente transparente</span> y es <span>ignífura</span>, el agua no puede atravesarla.
                </p>
              </div>
            </div>
            <div class="filter-fieldset accordion-link" category="question2">
              <div class="filter-legend" category="question2">
                <div class="filter-title">
                  <span>¿Qué beneficios tienen las piezas con resina?</span> 
                </div>    
              </div>
              <div class="categorys-lists"  category="question2">
                <p class="text-faqs">
                  Tenemos <span>diferentes tonos</span> para tus productos. Podés elegir entre colores puros y pasteles con los que la resina queda sin transparencia, colores metallic shimmer pigment, tornasolados y con brillos. Además, podés agregarle <span>complementos:</span> mariposas, brillos más grandes, corazones, caritas, hojas de oro o plata.
                  Consultanos el stock disponible.
                </p>
              </div>
            </div>
            <div class="filter-fieldset accordion-link" category="question3">
              <div class="filter-legend" category="question3">
                <div class="filter-title">
                  <span>¿Cómo cuido mi producto?</span> 
                </div>    
              </div>
              <div class="categorys-lists" category="question3">
                <p class="text-faqs">
                  Se puede <span>limpiar con cualquier líquido</span>, incluso con lavandina y desinfectantes.
                No mantener en <span>exposición directa al sol</span> por tiempo prolongado.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="gallery-products">
        <h2 class="gallery-title">Algunos tonos y complementos para tu producto</h2>
        <div class="gallery-images">
          <img class=" border-nr" loading="lazy" src="../assets/images/products/BANDEJAS.png" alt="product image"/>
          <img class="gallery-img md-pad-1" loading="lazy" src="../assets/images/products/BANDEJAS.png" alt="product image"/>
          <img class="gallery-img md-pad-2" loading="lazy" src="../assets/images/products/BANDEJAS.png" alt="product image"/>
          <img class="gallery-img border-nl"loading="lazy" src="../assets/images/products/BANDEJAS.png" alt="product image"/>
        </div>
      </section>
     
    </main>
    <footer class="footer">
        <div class="footer-social">
          <p>Seguinos:</p>
          <div>
            <a href="https://www.instagram.com/etereoartstudio/">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a  href="https://www.facebook.com/EtereoArtStudio">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
        <div class="footer-subs">
          <p>Newsletter:</p>
          <input type="text" />
          <i class="far fa-envelope"></i>
        </div>
        <div class="footer-info">
          <p>Privacidad | Términos y condiciones</p>
          <img class="footer-logo" loading="lazy" src="../assets/images/logo.png" alt="logo" />   
          <p>©2021 Etereo Art Studio</p>
        </div>
      </footer>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <script src="../js/mobile-menu.js"></script>
      <script type="module" src="../js/main.js"></script>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>
  </body>
</html>