<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="desciption" content="Etéreo Art Studio es el sitio donde encontrar tus productos favoritos para el hogar.">
    <meta name="keywords" content="resina hogar diseño productos muebles accesorios">
    <link rel="icon" type="image/svg" href="../assets/images/logo.png"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/normalize.css"/>
    <link rel="stylesheet" href="../css/main.min.css"/>
    <title>Etéreo Art Studio</title>
</head>
  <body>
    <section class="navbar">
      <a href="../index.html"><img class="logo" loading="lazy" src="../assets/icons/logo.svg" alt="logo"/></a>
      <img
        id="btn-open"
        class="btn-menu-open"
        src="../assets/icons/mobile-menu.svg"
        alt="opne menu"
        loading="lazy"
      />
      <nav>
        <img
          id="btn-close"
          class="btn-menu-close"
          src="../assets/icons/exit.svg"
          alt="close menu"
          loading="lazy"
        />
        <ul class="nav-menu">
          <li><a class="go-us" href="../views/about.html">NOSOTROS</a></li>
          <li><a class="go-products" href="../views/catalogue.html">CATALOGO</a></li>
          <li><a class="go-blog" href="faqs.html">PREGUNTAS FRECUENTES</a></li>
          <li><a class="go-contact" href="../views/contact.html">CONTACTO</a></li>
        </ul>
      </nav>
    </section>
    <main class="container-faqs">

      <section class="bkg-faqs">
        <div class="title-intro-faqs" data-aos="fade-in" data-aos-duration="1500">
          <h1>ALGUNAS DE LAS PREGUNTAS MÁS FRENCUENTES SOBRE ETÉREO</h1>
        </div>
        <h2 class="title-faq-p">Personalización y cuidados</h2>
        <div class="accordion-personalization">
          <div class="accordion-list">
            <div class="filter-fieldset accordion-link" category="question1">
              <div class="filter-legend" category="question1">
                <div class="filter-title">
                  <span>Quiero personalizar mi pedido</span> 
                </div>    
              </div>
              <div class="categorys-lists"  category="question1">
                <p class="text-faqs">
                  Tenemos <span>diferentes pigmentos</span> para tus productos. Podés elegir entre colores puros y pasteles con los que la resina queda sin transparencia, <i>metallic shimmer pigment</i> (tornasolados), colores traslúcidos y con brillos. Además, podés agregarle <span>complementos:</span> letras, brillos más grandes, corazones, mariposas, caritas, stickers, hojas de oro o plata. Consultanos el stock disponible.
                </p>
              </div>
            </div>
            <div class="filter-fieldset accordion-link" category="question2">
              <div class="filter-legend" category="question2">
                <div class="filter-title">
                  <span>Qué beneficios tienen las piezas</span> 
                </div>    
              </div>
              <div class="categorys-lists"  category="question2">
                <ul>
                  <li>
                    <p class="text-faqs">
                      Todos <span>productos de cocina</span> son <span>aptos para lavavajillas</span> y <span>no son tóxicos</span> en contacto con los alimentos.
                    </p>
                  </li>
                  <li>
                    <p class="text-faqs">
                      <span>Resisten</span> hasta 200°.
                    </p>
                  </li>
                  <li>
                    <p class="text-faqs">
                      Todos los productos <span>son de material resistente</span> y soportan peso encima.
                    </p>
                  </li>
                  <li>
                    <p class="text-faqs">
                      No tienen poros, por lo que <span>no se ensucia ni contamina</span> tan fácilmente como otras superficies.
                    </p>
                  </li>
                  <li>
                    <p class="text-faqs">
                      La resina es <span>totalmente transparente</span> y es <span>ignífura</span>, el agua no puede atravesarla.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="filter-fieldset accordion-link" category="question3">
              <div class="filter-legend" category="question3">
                <div class="filter-title">
                  <span>Cómo cuido mi producto</span> 
                </div>    
              </div>
              <div class="categorys-lists" category="question3">
                <ul>
                  <li>
                    <p class="text-faqs">
                      Se puede <span>limpiar con cualquier líquido</span>, incluso con lavandina y desinfectantes.
                    </p>
                  </li>
                  <li>
                    <p class="text-faqs">
                      No mantener en <span>exposición directa al sol</span> por tiempo prolongado.
                    </p>
                  </li>
                  <li>
                    <p class="text-faqs">
                      No exponer los productos directamente a temperaturas superiores a 200° para evitar quemaduras en la pieza.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <h2 class="title-faq-s">Pagos y envíos</h2>
        <div class="accordion-payment-and-shipping">
          <div class="accordion-list">
            <div class="filter-fieldset accordion-link" category="question4">
              <div class="filter-legend" category="question4">
                <div class="filter-title">
                  <span>Cuáles son los métodos de pago</span> 
                </div>    
              </div>
              <div class="categorys-lists"  category="question4">
                <p class="text-faqs">
                  Aceptamos <span>todas las tarjetas de crédito</span>, <span>transferencias</span> y <span>depósitos</span> en efectivo en puntos de pago Pago Fácil, Rapipago, Red Link. Utilizamos también <span>Mercadopago</span> para garantizar la seguridad total de tus compras.
                </p>
              </div>
            </div>
            <div class="filter-fieldset accordion-link" category="question5">
              <div class="filter-legend" category="question5">
                <div class="filter-title">
                  <span>Cómo realizan el envío</span> 
                </div>    
              </div>
              <div class="categorys-lists"  category="question5">
                <p class="text-faqs">
                  La entrega se realiza dentro de la <span>República Argentina</span>, a servicio de moto o en el resto de las provincas a través de <span>Andriani</span>.
                </p>
              </div>
            </div>
            <div class="filter-fieldset accordion-link" category="question6">
              <div class="filter-legend" category="question6">
                <div class="filter-title">
                  <span>Cuáles son los plazos de envío</span> 
                </div>    
              </div>
              <div class="categorys-lists" category="question6">
                <p class="text-faqs">
                  El plazo de entrega medio es de <span>48 a 72 horas hábiles</span> y puede variar según el destino con una media de entre 6 a 9 días hábiles. Las entregas tienen lugar de <span>lunes a viernes entre las 9 y 19 horas.</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <h2 class="title-faq-r">Devoluciones y reembolsos</h2>
        <div class="accordion-returns-and-refunds">
          <div class="accordion-list">
            <div class="filter-fieldset accordion-link" category="question7">
              <div class="filter-legend" category="question7">
                <div class="filter-title">
                  <span>Quiero devolver el producto</span> 
                </div>    
              </div>
              <div class="categorys-lists"  category="question7">
                <p class="text-faqs">
                  Todos los productos tienen <span>cambio con un máximo de 30 días corridos</span> a partir de la fecha de recepción del pedido o devueltos en un plazo máximo de 72 horas hábiles a partir de la fecha de recepción del mismo.
                  Los productos <span>deben conservar el estado en el que se recibió</span>, sin haber sido utilizados, con el embalaje y etiquetas originales en buen estado.
                </p>
              </div>
            </div>
            <div class="filter-fieldset accordion-link" category="question8">
              <div class="filter-legend" category="question8">
                <div class="filter-title">
                  <span>Cómo se realiza un reembolso</span> 
                </div>    
              </div>
              <div class="categorys-lists"  category="question8">
                <p class="text-faqs">
                  Una vez recibida la devolución, el reembolso se realizará dentro del plazo de 48 horas como máximo. El reintegro se hará a una cuenta bancaria. Los productos podrán devolverse en un plazo de 72 horas hábiles a partir de la fecha de recepción o se podrá solicitar una nota de crédito en un plazo máximo de 30 días corridos a partir de la fecha de recepción del pedido.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="gallery-products">
        <h2 class="gallery-title">Algunos tonos y complementos para tu producto</h2>
        <div class="gallery-images">
          <img class=" border-nr" loading="lazy" src="../assets/images/faq-gallery-1.png" alt="product image"/>
          <img class="gallery-img md-pad-1" loading="lazy" src="../assets/images/faq-gallery-2.png" alt="product image"/>
          <img class="gallery-img md-pad-2" loading="lazy" src="../assets/images/faq-gallery-3.png" alt="product image"/>
          <img class="gallery-img border-nl"loading="lazy" src="../assets/images/faq-gallery-4.png" alt="product image"/>
        </div>
      </section>
    </main>
    <footer class="footer">
        <div class="footer-social">
          <p>Seguinos:</p>
          <div>
            <a  href="https://www.facebook.com/EtereoArtStudio">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/etereoartstudio/">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
        <div class="footer-subs">
          <p>Contáctanos:</p>
          <a href="mailto:Etereoart@hotmail.com" type="submit" class="contact__button">
            <i class="far fa-envelope"></i>
          </a>
        </div>
        <div class="footer-info">
          <p>Privacidad | Términos y condiciones</p>
          <img class="footer-logo" loading="lazy" src="../assets/icons/logo.svg" alt="logo"/>  
          <p>©2021 Etereo Art Studio</p>
        </div>
      </footer>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <script src="../js/mobile-menu.js"></script>
      <script type="module" src="../js/main.js"></script>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>
  </body>
</html>