<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg" href="../assets/images/logo.png"/>
   
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <title>Etéreo Art Studio</title>
</head>
<body>
    <section class="navbar">
        <a href="../index.html"
          ><img class="logo" src="../assets/images/logo.png" alt="logo"
        /></a>
        <img
          id="btn-open"
          class="btn-menu-open"
          src="../assets/icons/mobile-menu.svg"
          alt="opne menu"
        />
        <nav>
          <img
            id="btn-close"
            class="btn-menu-close"
            src="../assets/icons/exit.svg"
            alt="close menu"
          />
          <ul class="nav-menu">
            <li><a class="go-home" href="../index.html">INICIO</a></li>
            <li><a class="go-us" href="../views/about.html">NOSOTROS</a></li>
            <li><a class="go-products" href="../views/products.html">PRODUCTOS</a></li>
            <li><a class="go-blog" href="#">BLOG</a></li>
            <li><a class="go-contact" href="#">CONTACTO</a></li>
          </ul>
        </nav>
    </section>
    <main class="container">
        <section class="products-hero">
            <h1>Elegi tu favorito</h1>
        </section>
        <aside class="filter-category">
          <h2>Categorias</h2>
          <div class="category-list">
            <a href="#" class="category-item" category="all">Todas</a>
            <a href="#" class="category-item" category="producto-1">Producto 1</a>
            <a href="#" class="category-item" category="producto-2">Producto 2</a>
            <a href="#" class="category-item" category="producto-3">Producto 3</a>
          </div>
        </aside>
        <section class="products-container" id="list-products">
          <div class="product-item" category="producto-1">
            <img class="product-img" src="../assets/images/products/product1.png" alt="product-1" />
            <div class="product-description">
                <h2>Producto 1</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quisquam, quidem.</p>
                <a class="card-btn" href="#">CONSULTAR</a>
            </div>
          </div>
          <div class="product-item" category="producto-2">
            <img class="product-img" src="../assets/images/products/product2.jpg" alt="product-2" />
            <div class="product-description">
                <h2>Producto 2</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quisquam, quidem.</p>
                <a class="card-btn" href="#">CONSULTAR</a>
            </div>
          </div>
          <div class="product-item" category="producto-3">
            <img class="product-img" src="../assets/images/products/product2.jpg" alt="product-3" />
            <div class="product-description">
                <h2>Producto 3</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quisquam, quidem.</p>
                <a class="card-btn" href="#">CONSULTAR</a>
            </div>
          </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer-social">
          <p>Seguinos:</p>
          <div>
            <a href="https://www.instagram.com/etereoartstudio/">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.facebook.com/EtereoArtStudio">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
        <div class="footer-subs">
          <p>Newsletter:</p>
          <input type="text" />
          <i class="far fa-envelope"></i>
        </div>
        <div class="footer-info">
          <p>Privacidad | Términos y condiciones</p>
          <img class="footer-logo" src="../assets/images/logo.png" alt="logo" />   
          <p>©2021 Etereo Art Studio</p>
        </div>
      </footer>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <script src="../js/mobile-menu.js"></script>
      <script type="module" src="../js/filter-category.js"></script>
      
</body>
</html>