.container-about{
    position:relative;
    display:grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;

    grid-template-areas:
        "hero-about"
        "intro-about"
        "cares"
        "details-prod";
    .hero-about{
        margin-top: 80px;
        height: 100vh;
        display: flex;
        justify-content: center;
        padding: 1em 2em;
        align-items: center;
        background:linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%), url('../assets/images/about-hero.png') no-repeat center center fixed;
        .box-image{
            grid-area: box-image;
            height: 100%;
            .border-about{
                border:$border-light;
                max-width:100%;
                margin-right: 1.5em;
                .about-img{
                    position: relative;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
        
                }
            }
        }
        .box-text{
         
            text-align: center;
            .title-about{
            
                color: #fff;
                margin: 0 ;
                font-size: 2rem;
                font-family: fontsFamily(bold-c);
                color:color(color-4);
                font-weight: 700;
                line-height: 1.4;
                text-align: center;
            }
            .text-about{

                font-size:  1.2rem;
                font-family: fontsFamily(light-m);
                font-weight: 400;
                padding: .5em;
                line-height: 1.5;
                color: #fff;
                margin:.2em auto;
                span{
                    font-family: fontsFamily(sbold-m);
                    color: #fff;
                }
            }
        }
    }
    .intro-about{
        display:flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        grid-area: intro-about;
        place-items: center;
        .bkg-p{
            position: relative;
        
            width: 100%;
            text-align: center;
            background: white;
            .text-about{
            
                font-size:  1.2rem;
                font-family: fontsFamily(light-m);
                font-weight: 600;
                padding: .5em;
                line-height: 1.5;
                color:color(color-2);
                margin:.2em auto;
                span{
                    font-family: fontsFamily(sbold-m);
                    color:color(color-2);
                }
            }
        }
        .border-intro{
            content:'';
            margin: 0 auto;
            position:absolute;
            padding: 1em calc(7.5% - 0.5em);
            text-align: center;
            margin: 0 auto;            
            left:calc(25% - 1em);
            width:60%;
            border: $border-light;
            text-align: center;
            height: 400px;
        }
    }

    .cares-about{
        padding: 1em 2em;
        background: color(color-4);
        height: 100vh;
        grid-area: cares;
        display: grid;
        justify-content: flex-end;
        grid-template-columns: 1fr;

        grid-gap:0;
        grid-template-areas:
        "cares-box-1"
        "line-care";
    
        text-align: center;
        .cares-box-1{
            grid-area: cares-box-1;
            display: grid;
            justify-content: flex-end;
            align-items: flex-end;
        }
        .line{
            position: relative;
            grid-area: line-care;
        }
        .title-cares{
          
            font-size: 2rem;
            font-family: fontsFamily(regular-c);
            color:color(color-1);
            letter-spacing: 0.1em;
            height: fit-content;
        }
        .text-cares{
            font-size:  1.2rem;
            font-family: fontsFamily(light-m);
            font-weight: 600;
            line-height: 1.5;
            color:color(color-2);
            margin:.2em auto;
            span{
                font-family: fontsFamily(sbold-m);
                color:color(color-2);
            }
        
        }
        .flex-line{
            display: flex;
            position: relative;
            bottom: 0;
            top:calc(10% - .5em);
            justify-self: center;
            z-index: 1;
            width: 10%;
            left: 0;
            right: 0;
            margin: 0 auto;
              width: 2px;
              height: 100%;
             background: color(color-1);
        }
    }
   
    .products-about{
        padding: 1em 2em;
        background: color(color-3);
        grid-area: details-prod;
        padding:5em 2em;
        display:grid;
        align-items: center;
        text-align: center;
    
        grid-template-areas: 
            "box-products-2"
            "box-products-1";
        .products-border{
            border:$border-light;
            max-width:100%;
            margin-right: 1em;
            margin-bottom: 2.125em;
        }
        .box-products-1{
            grid-area: box-products-1;
        }
        .box-products-2{
            grid-area: box-products-2;

        }
        .products-image {
            position: relative;
            top: 20px;
            left: 20px;
            height: 100%;
            width: 100%;
        }
        h2{
            margin: 1.3em 0;
            font-size: 2rem;
            font-family: fontsFamily(regular-c);
            color:color(color-4);
            letter-spacing: 0.1em;
        }
        p{
            font-size:  1.2rem;
            font-family: fontsFamily(light-m);
            font-weight: 600;
            
            line-height: 1.5;
            color:color(color-2);
            margin-bottom: .5em;
        
        }
    }
}

@include media-up(md){
    .container-about{
        display:grid;

    }
    .hero-about{
        background:linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%), url('../assets/images/about-hero.png') no-repeat center center fixed;
        .box-image{
            margin:0 auto;
            height: 100%;
            grid-area: box-image;
            .border{
                border:$border-light;
                max-width:100%;
                margin-right: 1.5em;
                .about-img{
                    position: relative;
                    width: 400px;
                    height: 400px;
                    object-fit: cover;
                    left: 20px;
                    top:30px;
                }
            }
        }
        .box-text{
            grid-area: box-text;
            text-align: center;
 

            .text-about{
                width: fit-content;
                font-size: 2rem;
                font-family: fontsFamily(regular-c);
                color:color(color-4);
                font-weight: 600;
                line-height: 1.4;
                padding: .6em;
                margin:0 auto;
                margin-bottom: .5em;
    
            }
            p{
                font-size:  1.2rem;
                font-family: fontsFamily(light-m);
                font-weight: 500;
                padding: .5em;
                line-height: 1.5;
                color:color(color-2);
                margin:.2em auto;
                span{
                    font-family: fontsFamily(sbold-m);
                    color:color(color-2);
                }
            }
        }
    }
    .intro-about{
        padding: 1em 2em;
        grid-area: intro-about;
        .bkg-p{
            position: relative;
            
            width: 100%;
            text-align: center;
            background: white;
            p{
               
                font-size:  1.2rem;
                font-family: fontsFamily(light-m);
                font-weight: 600;
                padding: .5em;
                line-height: 1.5;
                color:color(color-2);
                margin:.2em auto;
                span{
                    font-family: fontsFamily(sbold-m);
                    color:color(color-2);
                }
            }
        }
    
        .border-intro{
            content:'';
            margin: 0 auto;
            position:absolute;
            padding: 1em calc(7.5% - 0.5em);
            text-align: center;
            margin: 0 auto;            
            left:calc(25% - 1em);
            width:50%;
            border: $border-light;
            text-align: center;
            height: 255px;
        }
    }
}

@include media-up(lg){
    .container-about{
        display:grid;
        .hero-about{
            padding: 1em calc(12.5% - 0.5em);
            width: 100%;
            position: relative;
            top:-80px;
            height: 100vh;
            margin-top: 80px;
            display:flex;
            object-fit: contain;
            background:linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%), url('../assets/images/about-hero.png') no-repeat center center fixed;
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
            justify-content: flex-end;
            align-items: center;
            .box-image{
                grid-area: box-image;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
    
                .border-about{   
                    margin:0;
                    position: relative;
                    padding: 1em 0;
                    width: 100%;
                    height:fit-content;
                    border:$border-light;
                    .about-img{
                        position: relative;
                        top:5px;
                        left:50px;
                        bottom:0;
                        margin:0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .box-text{
                grid-area: box-text;
                text-align: left;
                width: 50%;
                margin-top: 70px;
                display: block;
                .title-about{
                    margin: 0 ;
                    text-align: left;
                    width: fit-content;
                    font-size: 2.5rem;
                    font-family: fontsFamily(bold-c);
                    color:#fff;
                    font-weight: 700;
                    line-height: 1.4;
                    padding: .2em;
                    word-spacing: 1em;
                }
                .text-about{
                    font-size:  1.5rem;     
                    font-family: fontsFamily(light-m);
                    font-weight: 500;
                    padding: .5em;
                    line-height: 1.5;
                    color:#fff;
                    margin:.2em auto;
                    span{
                        font-family: fontsFamily(sbold-m);
                        color:#fff;
                    }
                }
            }
        }
    
        .intro-about{
            padding:1em 5em;
            padding: 1em calc(10.5% - 0.5em);
            grid-area: intro-about;
            .bkg-p{
                position: relative;
                width:90%;
                text-align: center;
                background: white;
                .text-about{
                    font-size:  1.2rem;
                    font-family: fontsFamily(light-m);
                    font-weight: 600;
                    padding: .5em;
                    line-height: 1.5;
                    color:color(color-2);
                    margin:.2em auto;
                    span{
                        font-family: fontsFamily(sbold-m);
                        color:color(color-2);
                    }
                }
            }
        
            .border-intro{
                content:'';
                margin: 0 auto;
                position:absolute;
                padding: 1em calc(7.5% - 0.5em);
                text-align: center;
                margin: 0 auto;            
                left:calc(25% - 1em);
                width:50%;
                border: $border-light;
                text-align: center;
                height: 500px;
            }
        }
        .cares-about{
            text-align: left;
            padding: 1em calc(15.5% - 0.5em);          
   
            .cares-box-1{
                grid-area: cares-box-1;
                display: grid;

            }
           .flex-line{
            position: relative;
            top:calc(20% - 1em);
            left: -20%;
         
            }
        }  

        .products-about{
            text-align: left;
            padding: 1em calc(15.5% - 0.5em);
            grid-gap: 2em;
            justify-content: center;
            grid-template-areas: 
            "box-products-1 box-products-2";
            .box-products-2{
                position: relative;
                bottom:200px;
                grid-area: box-products-2;
            }
        }
    }    
} 