@import '../components/navbar';
@import '../components/buttons';
@import '../components/footer';

main{
    padding: 0;
    background: #fff;
    scrollbar-gutter: 0;
    scroll-behavior: none;
    scroll-snap-type: none;
    box-sizing: content-box;
    overflow: hidden;
}

.container{
    padding:1em 0;
    display:grid;
    grid-template-columns: 1fr;
    margin-bottom: 30em;
    grid-gap:1em 0;   
    grid-template-areas: 
    "p-hero"
    "aside" 
    "products";
    margin-bottom:5em;
}
.cat-intro{
    position:relative;
    padding: 0 2em;
    top:80px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    scrollbar-gutter: 0;
    display:flex;
    object-fit: cover;
    background: url('../assets/images/hero-2.png');
    background-size: cover;
    background-position: center;
    justify-content: center;
    background-repeat: no-repeat;

    .content-intro{
        display: flex;
        justify-content: center;
    
        align-items: center;
    }
    .cont-cat{
        text-align: center;
        h1{
            font-size: 2rem;
            font-family: fontsFamily(bold-c);
            color:color(color-2);
            font-weight: 400;
            line-height: 1.2;
            margin-bottom: .2em;
            width: 100%;
        }
    }
}


.products-hero{
    padding:0 2em;
    grid-area: p-hero;
    grid-column: 1/3;
    h1{
        text-align: center;
        font-size: 2rem;
        width:100%;
        font-family: fontsFamily(bold-c);
        color:color(color-1);
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: .5em;
        border-bottom: $border-light;
        margin-top: 80px;
        margin-bottom: 1em;
    }
}
.filter-category{
    margin:0 2em;
    background: #fff;
    grid-area:aside;
    grid-column: 2/-3;
    border:$border-light;
    padding:1em 0;
    height: fit-content;

    h2{
        font-size: 1.6rem;
        width: 100%;
        font-family: fontsFamily(regular-m);
        color:color(color-2);
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: .5em;
    
        text-align: center;
        border-bottom: $border-light;
    } 
    .category-list{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        text-align: center;
        .all{
            scroll-behavior: unset;
            width: 100%;
            margin-top: 1em;
            font-size:  1rem;
            color:color(color-2);
            font-family: fontsFamily(regular-m); 
            transition:transform all .3s ease-in-out;
            &:focus{
                transition:ease all .5s;
                padding: 1em;    
                text-align: center;
                padding:.4em 2em .4em 2em;
                background:color(color-3);
            }
        }
    }
    .filter-fieldset{
        cursor: pointer;
        text-align: left;
        scroll-behavior: smooth;
        border:none;

    }
    .filter-legend{
        display: flex;
        font-style:normal;
        font-variant: normal;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
    .filter-legend::after{
        position: relative;
        display:flex;
        color: colors(color-2);
        right: 0;
        font-family: "Font Awesome 5 Free"; 
        font-weight: 600;
        font-size:15px; 
        border-width: 0 3px 3px 0;
        content:"\f077";
    }
    .filter-legend--up::after{
        position: relative;
        content: "\f077";
        right: 0;
        display: inline-block;
        border-width: 0 3px 3px 0;
        animation-name: rotateIconUp;
        transform: translateY(-50);
        animation-duration: 0.3s;
        transition: 0.3s;
    }
    .filter-legend--down::after{
        position: relative;
        content: "\f078";
        animation-name: rotateIconDown;
        animation-duration: 0.3s;
        transform: translateY(-50);
    }
    .filter-title{
        font-family: "Font Awesome 5 Free"; 
        content:"\f077";
        color: colors(color-2);
        span{
            color:black;
            font-family: fontsFamily(regular-m);
        }
    }
    .categorys-lists[category]{
        display:none;
        width: 100%;
        li{
            width: 100%;
            a{
                text-align: left;
                scrollbar-gutter: 0;
                scroll-behavior: none;
                box-sizing: border-box;
                font-size:  1rem;
                text-align: center;
                color:color(color-2);
                font-family: fontsFamily(regular-m);
                width: 100%;
                transition:transform all .3s ease-in-out;
                 &:active &:focus {
                    transition:ease all .5s;
                    width: 100%;
                    text-align: center;
                    background:color(color-3);
                 }
             }
        }
    }
    .categorys-lists[category]{	
        position: relative;
        z-index: 1;
        width: 100%;
        li{
            width: 100%;
            cursor: pointer;
            text-align: center;
            a{
                text-align: center;
                scrollbar-gutter: 0;
                scroll-behavior: none;
                box-sizing: border-box;
                font-size:  1rem;
                color:color(color-2);
                font-family: fontsFamily(regular-m);
                width: 100%;
            
                transition:transform all .3s ease-in-out;
                &:focus-within{
                    transition:ease all .5s;
                    width: 100%;
                    text-align: center;
                    background:color(color-3);
                }
            }
        }
    }
}
.products-container{
    grid-area:products;
    margin:0 2em;
    height: fit-content;
    display: grid;
    grid-gap:1em;
    grid-template-areas: 
    "searchbar"
    "products";

    grid-auto-rows: auto;
    .bar-search{
        width: 100%;
        background: color(color-4);
        border-radius: 10px;
        i{  
            height: 100%;
            padding-left: .5em;
            color: color(color-3);
        }
        .input-search{    
            position: relative;    
            background: color(color-4);
            border-radius: 10px;
            font-variant: normal;
            font-family: fontsFamily(regular-m);
            padding: .6em 0;
            outline: none;
            border:none;
            grid-area: searchbar;
            grid-column: 1/3;
           
        }
    }
    .products{
        display:grid;
        grid-area: products;
        grid-gap:1em;
        grid-template-columns: repeat(auto-fit, minmax(270px, 338px));
        width: 100%;
        height: 100%;
        align-items: stretch;
        justify-content: center;
    }
    .card-img{
        img{
            width: 100%;
            height: 252px;
            object-fit: cover;
        }
    }
    .card-description{
        height: 200px;
        padding: .8em;
        display: grid;
        grid-gap: .2em;
        grid-template-areas:
        "title"
        "description"
        "button";
        grid-template-columns: 1fr;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px 0px 22px 22px;
        h2{
            grid-area: title;
            text-overflow: ellipsis;
            width: fit-content;
            font-size: 1rem;
            font-family: fontsFamily(sbold-m);
            font-weight: 500;
           
            color: black;
        }
        p{
            grid-area: description;
            height: fit-content;
            font-size:.9rem;
            font-family: fontsFamily(light-m);
            font-weight: 500;
            line-height: 1.5;
            color:black;
        }
        .card-btn{
            grid-area: button;
            @include btnCard;


        }
    }
    .product-not-found{
        font-size: 1rem;
        position: relative;    
        background: color(color-4);
        border-radius: 10px;
        font-weight: 600;
        width: 100%;
        font-variant: normal;
        padding: 1rem;
        font-family: fontsFamily(regular-m);
    }
}

@include media-up (md){
    
    .cat-intro{
        position:relative;
        padding: 0 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        top:80px;
        left: 0;


        scrollbar-gutter: 0;
        object-fit: cover;
        background: url('../assets/images/hero-2.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    
        .content-intro{
            display: flex;
            justify-content: center;
        
            align-items: center;
        }
        .cont-cat{
            text-align: center;
            h1{
                font-size: 2.5rem;
                font-family: fontsFamily(bold-c);
                color:color(color-2);
                font-weight: 700;
                line-height: 1.2;
                margin-bottom: .2em;
                width: 100%;
            }
        }
    }
    .products-hero{
        padding:0 2em;
        grid-area: p-hero;
        grid-column: 1/3;
        h1{
            text-align: left;
            font-size: 3rem;
            width:100%;
            font-family: fontsFamily(bold-c);
            color:color(color-1);
            font-weight: 700;
            line-height: 1.5;
            margin-bottom: .5em;
            border-bottom: $border-light;
            margin-top: 80px;
            margin-bottom: 1em;
        }
    }
  
}
@include  media-up(lg){
    body,html{
        font-size: 20px;
    }
    .container{
        padding: 1em calc(15.5% - 0.5em);
      
        grid-template-columns: 28% 1fr;
        grid-gap:1em;
        grid-template-areas: 
        
        "p-hero  p-hero"
        "aside  products";
        margin-bottom:6em;
    }
    .cat-intro{
        position:relative;
        padding: 0 2em;
        display: flex;
        justify-content: center;
        align-items: center;

        top:0;
        left: 0;
        right: 0;
        grid-area:intro;
        width: 100%;
        height: 100vh;
        scrollbar-gutter: 0;
        display:flex;
        object-fit: cover;
        background: url('../assets/images/hero-2.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    
        .content-intro{
            display: flex;
            justify-content: center;
        
            align-items: center;
        }
        .cont-cat{
            text-align: center;
            h1{
                font-size: 3rem;
                font-family: fontsFamily(bold-c);
                color:color(color-2);
                font-weight: 700;
                line-height: 1.2;
                margin: 0 auto;
                margin-bottom: .2em;
                width: 100%;
            }
        }
    }

    .filter-category{
        margin:0;
        display: grid;
        grid-template-columns: 1fr;
        padding: 1.4em;
        height: fit-content;
        h2{
            height: fit-content;
            width: 100%;
            margin:0;
            font-size: 1.6rem;
            text-align: left;
            text-decoration: none;
            border-bottom: $border-light;
            margin-bottom: 1em;
        }

        .category-list{
            width: 100%;
            text-align: left;
            .all{
                scroll-behavior: unset;
                width: 100%;
                font-size:  1rem;
                color:color(color-2);
                padding-left: 1em;
                font-family: fontsFamily(regular-m); 
                transition:transform all .3s ease-in-out;
                &:focus{
                    transition:ease all .5s;
                    padding: 1em;    
                    text-align: left;
                    padding:.4em 2em .4em 2em;
                    background:color(color-3);
                }
            }
        }
        .filter-fieldset{
            cursor: pointer;
            text-align: left;
            scroll-behavior: smooth;
            border:none;

        }
        .filter-legend{
            display: flex;
            font-style:normal;
            font-variant: normal;
            justify-content: space-between;
            align-items: center;
            padding: 1em;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }
        .filter-legend::after{
            position: relative;
            display:flex;
            color: colors(color-2);
            right: 0;
            font-family: "Font Awesome 5 Free"; 
            font-weight: 600;
            font-size:15px; 
            border-width: 0 3px 3px 0;
            content:"\f077";
        }
        .filter-legend--up::after{
            position: relative;
            content: "\f077";
            right: 0;
            display: inline-block;
            border-width: 0 3px 3px 0;
            animation-name: rotateIconUp;
            transform: translateY(-50);
            animation-duration: 0.3s;
            transition: 0.3s;
        }
        .filter-legend--down::after{
            position: relative;
            content: "\f078";
            animation-name: rotateIconDown;
            animation-duration: 0.3s;
            transform: translateY(-50);
        }
        .filter-title{
            font-family: "Font Awesome 5 Free"; 
            content:"\f077";
            color: colors(color-2);
            span{
                color:black;
                font-family: fontsFamily(regular-m);
            }
        }
        .categorys-lists[category]{	
            position: relative;
            z-index: 1;
            
            width: 100%;
            padding-left: 1em;
            text-align: left;
            li{
                width: 100%;
                cursor: pointer;
                text-align: left;
                a{
                   text-align: left;
                    scroll-behavior: unset;
                    box-sizing: border-box;
                    font-size:  1rem;
                    color:color(color-2);
                    font-family: fontsFamily(regular-m);
                    width: 100%;
                
                    transition:transform all .3s ease-in-out;
                    &:focus-within{
                        transition:ease all .5s;
                        width: 100%;
                        text-align: left;
                        background:color(color-3);
                    }
                }
            }
        }

    }
    .products-container{
        grid-area:products;
        margin:0;
        margin-bottom:0;
        height: fit-content;
        display: grid;
        grid-template-areas: 
        "searchbar"
        "products";

        grid-auto-rows: auto;
        .bar-search{
            width: fit-content;
            .input-search{
                width: fit-content;
                grid-area: searchbar;
                grid-column: 1/1;
            }
        }

        .products{
            display:grid;
            grid-area: products;
            grid-template-columns: repeat(auto-fit,299px);
            justify-content: flex-start;
            grid-template-rows: 1fr;
       
        }
        .card-product{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 100%;
            width: 100%;
            border-radius: .5em;
            background: white;
            transition: all .3s ease-in-out;

            .card-img{
                width: 100%;
                height: 252px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .card-description{
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-areas:
                "title"
                "description"
                "button";
                grid-template-columns: auto;
                grid-gap:0;
                margin:0;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 0px 0px 22px 22px;
                h2{
                    grid-area: title;
                    font-size: 1rem;
                    margin-bottom: .5em;
                    font-family: fontsFamily(sbold-m);
                    font-weight: 500;
                    color: black;
                }
                .card-text-desc{
                    grid-area: description;
                    height: 80px;
                    width: 100%;
                    font-size:.9rem;
                    font-family: fontsFamily(light-m);
                    font-weight: 500;
                    line-height: 1.5;
                    margin-bottom: .5em;
                    color:black;
                }
                .card-btn{
                    grid-area: button;
                    @include btnCard;
                }
            }
        }
        .product-not-found{
            width: 500px;
            background: transparent;
        }
    }
    .products-hero{
        padding:0 0;
        grid-area: p-hero;
        grid-column: 1/3;
        h1{
            text-align: left;
            font-size: 2.2rem;
            width:100%;
            font-family: fontsFamily(bold-c);
            color:color(color-1);
            font-weight: 700;
            line-height: 1.5;
            margin-bottom: .5em;
            border-bottom: $border-light;
            margin-top: 80px;
            margin-bottom: 1em;
        }
    }
}
