.contact-hero{
  position: relative;
  top:80px;
  width: 100%;
  height: 100vh;
  display:flex;
  object-fit: cover;
  background: url('../assets/images/contact-hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 80px;
  .content-hero{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    padding: 1em;
    background: #fff;
    opacity: 0.8;
  }
  .content{
    opacity:1;
      text-align: center; 
      display: flex;
      justify-content: center;
      align-items: center; 
      margin: 0 auto;
      h1{
        font-size: 2rem;
        font-family: fontsFamily(bold-c);
        color:color(color-2);
        font-weight: 700;
        margin: 0 auto;
      }
      p{
        font-size:  1.2rem;
        font-family: fontsFamily(sbold-m);
        font-weight: 500;
        padding: 1em;
        line-height: 1.5;
        color:color(color-2);
        margin-bottom: 2.125em;
      }
  }
}

/* MAIN */
.container-contact{
  display:grid;
  padding: 1em;
  grid-gap:6em;
  grid-template-areas: 
  "contact-title"
  "contact-info";
  grid-template-columns: 1fr;
  .contact-info{
    grid-area: contact-info;
    display: grid;
    grid-template-areas:
    "info-site"
    "map-site";
  }
  .contact-info-detail{
    text-align: left;
    margin: 0  auto;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    grid-gap: 2em 0;
    grid-template-columns: 20% 60%;
    grid-template-areas:
    "icon-1 mail"
    "icon-2 phone"
    "icon-3 address";
    .item-icon-1{
      grid-area: icon-1;
     
    }
    .item-mail{
      grid-area:mail;
    }
    .item-icon-2{
      grid-area: icon-2;
 
    }
    .item-phone{
      grid-area: phone;
    }
    .item-icon-3{
      grid-area: icon-3;
      padding-left: .2em;
    }
    .item-address{
      grid-area: address;
    }
    i{
      font-size: 2.2rem;
      color: color(color-1);
     
    }
    p{
      font-size: 1rem;
      font-family: fontsFamily(regular-m);
      font-weight: 500;
      color:color(color-1);

    }
  }
  .contact-info-map{
    .map-iframe{
      height: 100%;
      width: 100%;
    }
    
  }
  .title-contact{
    grid-area: contact-title;
    font-size: 1.5rem;
    font-family: fontsFamily(sbold-m);
    text-align: center;
    color: color(color-1);
    margin-top:2em;
  }

} 

@include media-up(md){
  .contact-hero{
    
    .content{
          opacity:1;
      h1{
        font-size: 2.8rem;
        font-family: fontsFamily(bold-c);
        color:color(color-2);
        font-weight: 700;
        margin: 0 auto;
      }
      p{
        font-size:  1.2rem;
        font-family: fontsFamily(sbold-m);
        font-weight: 500;
        padding: 1em;
        line-height: 1.5;
        color:color(color-2);
        margin-bottom: 2.125em;
      }
    }
  }
  .container-contact{
    display:grid;

    padding: 1em;
    grid-template-areas: 
    "contact-title"
    "contact-info";
    grid-template-columns: 1fr;
    .contact-info{
      grid-area: contact-info;
      display: grid;
      grid-template-areas:
      "info-site"
      "map-site";
    }
    .contact-info-detail{
      text-align: left;
      margin: 0  auto;
      display: grid;
      justify-content: center;
      align-items: center;
      margin-bottom: 2em;
      grid-gap: 2em 0;

      grid-template-columns: 20% 60%;
      grid-template-areas:
      "icon-1 mail"
      "icon-2 phone"
      "icon-3 address";
      .item-icon-1{
        grid-area: icon-1;
       
      }
      .item-mail{
        grid-area:mail;
      }
      .item-icon-2{
        grid-area: icon-2;
   
      }
      .item-phone{
        grid-area: phone;
      }
      .item-icon-3{
        grid-area: icon-3;
        padding-left: .2em;
      }
      .item-address{
        grid-area: address;
      }
      i{
        font-size: 2.2rem;
        color: color(color-1);
       
      }
      p{
        font-size: 1.2rem;
        font-family: fontsFamily(regular-m);
        font-weight: 500;
        color:color(color-1);
        width: 100%;
  
      }
    }
    .contact-info-map{
      .map-iframe{
        height: 100%;
        width: 100%;
      }
    }
    .contact-shipping{
      grid-area: contact-title;
    }
  }
}

@include media-up(lg) {
  .contact-hero{
    position: relative;
    display:flex;
    top: 0;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 6em calc(15.5% - 0.5em);
    .content-hero{
      width: 100%;
      height: 100%;
      display: flex;
      margin: 0 auto;
      padding: 1em;
      background: rgba(255, 255, 255, 0.61);
      opacity:1;
    }
    .content{
      opacity:1;
      position: relative;
      z-index: 2;
      text-align: center; 
      display: flex;
      justify-content: center;
      align-items: center; 
      margin: 0 auto;
      opacity: 1;
      h1{
        font-size: 3rem;
        font-family: fontsFamily(bold-c);
        color:color(color-2);
        font-weight: 500;
        line-height: 1.2;
        margin: 0 auto;
        margin-bottom: .2em;
        width: 100%;
      }
      p{
          font-size:  1.2rem;
          font-family: fontsFamily(sbold-m);
          font-weight: 500;
          padding: 1em;
          line-height: 1.5;
          color:color(color-2);
          margin-bottom: 2.125em;
      }
    }
  }

  .container-contact{
    padding: 3em calc(15.5% - 0.5em);
    display:grid;
    grid-template-areas: 
    "contact-title"
    "contact-info";
    grid-template-columns: 1fr;
    .contact-info{
      grid-area: contact-info;
      grid-template-columns: 1fr 1fr;
      justify-content: space-between;
      margin-bottom:5em;
      grid-template-areas:
      "info-site map-site";
    }
    .contact-info-detail{
      text-align: left;
      display: grid;
      justify-content: flex-start;
      justify-self: flex-start;
      justify-items: flex-start;
      align-items: center;
      width: 100%;
      height: 100%;
      grid-gap:1em;
      
      grid-template-areas:
      "icon-1 mail"
      "icon-2 phone"
      "icon-3 address";
      .item-icon-1{
        grid-area: icon-1;
       
      }
      .item-mail{
        grid-area:mail;
      }
      .item-icon-2{
        grid-area: icon-2;
   
      }
      .item-phone{
        grid-area: phone;
      }
      .item-icon-3{
        grid-area: icon-3;
        padding-left: .2em;
      }
      .item-address{
        grid-area: address;
      }
      i{
        font-size: 2.2rem;
        color: color(color-1);
       
      }
      p{
        font-size: 1rem;
        font-family: fontsFamily(regular-m);
        font-weight: 500;
        color:color(color-1);
  
      }
    }
    .title-contact{
      grid-area: contact-title;
      font-size: 2.2rem;
      font-family: fontsFamily(sbold-m);
      text-align: left;
      color: color(color-1);
      margin-top:2em;
      width: 90%;
  
    }
  }
}
