.contact-hero{
  position: relative;
  top:80px;
  height: 100vh;
  display:flex;
  object-fit: cover;
  background: color(color-3);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 80px;
  .content-hero{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    padding: 1em;
      background: #fff;
      opacity: 0.8;
  }
  .content{
      text-align: center; 
      display: flex;
      justify-content: center;
      align-items: center; 
      margin: 0 auto;
      h1{
        font-size: 2rem;
        font-family: fontsFamily(regular-c);
        color:color(color-2);
        font-weight: 700;
        margin: 0 auto;
      }
      p{
        font-size:  1.2rem;
        font-family: fontsFamily(sbold-m);
        font-weight: 500;
        padding: 1em;
        line-height: 1.5;
        color:color(color-2);
        margin-bottom: 2.125em;
      }
  }
}

/* MAIN */
.container-contact{
  display:grid;
  padding: 1em;
  grid-gap:4em;
  grid-template-areas: 
  "contact-info"
  "contact-shipping";
  grid-template-columns: 1fr;
  .contact-info{
    grid-area: contact-info;
    display: grid;
    grid-template-areas:
    "info-site"
    "map-site";
  }
  .contact-info-detail{
    text-align: left;
    margin: 0  auto;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    grid-gap: 2em 0;
    grid-template-columns: 20% 60%;
    grid-template-areas:
    "icon-1 mail"
    "icon-2 phone"
    "icon-3 address";
    .item-icon-1{
      grid-area: icon-1;
     
    }
    .item-mail{
      grid-area:mail;
    }
    .item-icon-2{
      grid-area: icon-2;
 
    }
    .item-phone{
      grid-area: phone;
    }
    .item-icon-3{
      grid-area: icon-3;
      padding-left: .2em;
    }
    .item-address{
      grid-area: address;
    }
    i{
      font-size: 2.2rem;
      color: color(color-1);
     
    }
    p{
      font-size: 1rem;
      font-family: fontsFamily(regular-m);
      font-weight: 500;
      color:color(color-1);

    }
  }
  .contact-info-map{
    .map-iframe{
      height: 100%;
      width: 100%;
    }
    
  }
  .contact-shipping{
    grid-area: contact-shipping;
    display: grid;

    grid-template-areas:
    "shipping-steps"
    "payment-steps";
  }
  .shipping-steps{
    grid-area: shipping-steps;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    margin-bottom: 5em;
    text-align: center;
    grid-template-areas: 
    "title"
    "paragraph-1"
    "paragraph-2"
    "paragraph-3"
    "paragraph-4";
    .title-shipping{
      grid-area: title;
        font-size: 2rem;
        font-family: fontsFamily(bold-c);
        color:color(color-1);
        font-weight: 700;
    }
    p{
      font-size: 1.2rem;
      font-family: fontsFamily(regular-m);
      font-weight: 500;
      color: color(color-1);
    }
    .p-shipping-1{
      grid-area: paragraph-1;
    }
    .p-shipping-2{
      grid-area: paragraph-2;
    }
    .p-shipping-3{
      grid-area: paragraph-3;
    }
    .p-shipping-4{
      grid-area: paragraph-4;
    }
  }
  
  .payment-steps{
    grid-area: payment-steps;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;

    text-align: center;
    grid-template-areas: 
    "title-payment"
    "paragraph-p-1"
    "paragraph-p-2"
    "paragraph-p-3"
    "paragraph-p-4";
    margin-bottom: 4em;
  }
  .title-payment{
    grid-area: title-payment;
      font-size: 2rem;
      font-family: fontsFamily(bold-c);
      color:color(color-1);
      font-weight: 700;
  }
  p{
    font-size: 1.2rem;
    font-family: fontsFamily(regular-m);
    font-weight: 500;
    color: color(color-1);
  }
  .p-payment-1{
    grid-area: paragraph-p-1;
  }
  .p-payment-2{
    grid-area: paragraph-p-2;
  }
  .p-payment-3{
    grid-area: paragraph-p-3;
  }
  .p-payment-4{
    grid-area: paragraph-p-4;
  }
}



@include media-up(md){
  .contact-hero{
    .content{
      h1{
        font-size: 2.5rem;
        font-family: fontsFamily(regular-c);
        color:color(color-2);
        font-weight: 500;
        margin: 0 auto;
      }
      p{
        font-size:  1.2rem;
        font-family: fontsFamily(sbold-m);
        font-weight: 500;
        padding: 1em;
        line-height: 1.5;
        color:color(color-2);
        margin-bottom: 2.125em;
      }
    }
  }
  .container-contact{
    display:grid;

    padding: 1em;
    grid-template-areas: 
    "contact-info"
    "contact-shipping";
    grid-template-columns: 1fr;
    .contact-info{
      grid-area: contact-info;
      display: grid;
      grid-template-areas:
      "info-site"
      "map-site";
    }
    .contact-info-detail{
      text-align: left;
      margin: 0  auto;
      display: grid;
      justify-content: center;
      align-items: center;
      margin-bottom: 2em;
      grid-gap: 2em 0;

      grid-template-columns: 20% 60%;
      grid-template-areas:
      "icon-1 mail"
      "icon-2 phone"
      "icon-3 address";
      .item-icon-1{
        grid-area: icon-1;
       
      }
      .item-mail{
        grid-area:mail;
      }
      .item-icon-2{
        grid-area: icon-2;
   
      }
      .item-phone{
        grid-area: phone;
      }
      .item-icon-3{
        grid-area: icon-3;
        padding-left: .2em;
      }
      .item-address{
        grid-area: address;
      }
      i{
        font-size: 2.2rem;
        color: color(color-1);
       
      }
      p{
        font-size: 1.2rem;
        font-family: fontsFamily(regular-m);
        font-weight: 500;
        color:color(color-1);
        width: 100%;
  
      }
    }
    .contact-info-map{
      .map-iframe{
        height: 100%;
        width: 100%;
      }
    }
    .contact-shipping{
      grid-area: contact-shipping;
    }
  }
}

@include media-up(lg) {
  .contact-hero{
    position: relative;
    top:80px;
    display:flex;
    object-fit: cover;
    background: color(color-3);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3em calc(15.5% - 0.5em);
    .content-hero{
      width: 100%;
      height: 100%;
      display: flex;
      margin: 0 auto;
      padding: 1em;
      background: rgba(255, 255, 255, 0.61);
    }
    .content{
      opacity:1;
      position: relative;
      z-index: 2;
      text-align: center; 
      display: flex;
      justify-content: center;
      align-items: center; 
      margin: 0 auto;
      opacity: 1;
      h1{
        font-size: 4rem;
        font-family: fontsFamily(regular-c);
        color:color(color-2);
        font-weight: 400;
        line-height: 1.2;
        margin: 0 auto;
        margin-bottom: .2em;
        width: 100%;
      }
      p{
          font-size:  1.2rem;
          font-family: fontsFamily(sbold-m);
          font-weight: 500;
          padding: 1em;
          line-height: 1.5;
          color:color(color-2);
          margin-bottom: 2.125em;
      }
    }
  }

  .container-contact{
    padding: 3em calc(15.5% - 0.5em);
    display:grid;
    grid-template-areas: 
    "contact-info"
    "contact-shipping";
    grid-template-columns: 1fr;
    .contact-info{
      grid-area: contact-info;
      grid-template-columns: 1fr 1fr;
      justify-content: space-between;
      grid-template-areas:
      "info-site map-site";
    
    }
    .contact-info-detail{
      text-align: left;
      display: grid;
      justify-content: flex-start;
      justify-self: flex-start;
      justify-items: flex-start;
      align-items: center;
      width: 100%;
      height: 100%;
      grid-gap:1em;
      
      grid-template-areas:
      "icon-1 mail"
      "icon-2 phone"
      "icon-3 address";
      .item-icon-1{
        grid-area: icon-1;
       
      }
      .item-mail{
        grid-area:mail;
      }
      .item-icon-2{
        grid-area: icon-2;
   
      }
      .item-phone{
        grid-area: phone;
      }
      .item-icon-3{
        grid-area: icon-3;
        padding-left: .2em;
      }
      .item-address{
        grid-area: address;
      }
      i{
        font-size: 2.2rem;
        color: color(color-1);
       
      }
      p{
        font-size: 1rem;
        font-family: fontsFamily(regular-m);
        font-weight: 500;
        color:color(color-1);
  
      }
    }
    .contact-shipping{
      grid-area: contact-shipping;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap:0em;
      justify-content: space-between;
      width: 100%;
      grid-template-areas:
      "shipping-steps payment-steps";

    }
    .shipping-steps{
      text-align: left;
      padding-right: 2em;
     
    }
    .payment-steps{
      border-left: $border-light;
      text-align: left;
      justify-self: flex-end;
      padding-left: 2em;
      margin:0;
    }
  }
  
}
