

.container-faqs{
    display:grid;
    grid-template-areas:
    "faqs-accordions"
    "gallery-faqs" 
    ;

}
.bkg-faqs{
    display:grid;
    grid-area:faqs-accordions;
    grid-template-areas:
    "title-all-page"
    "title-faq-p"
    "accordion-personalization"
    "title-faq-s"
    "accordion-payment-and-shipping"
    "title-faq-r"
    "accordion-returns-and-refunds";
    width: 100%;
    padding: 5em calc(5.5% - 0.5em);
    object-fit: cover;
    background: url('../assets/images/faqs-hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.title-intro-faqs{
    grid-area:title-all-page;
    h1{
        text-align: center;
        font-size: 1.6rem;
        width:100%;
        font-family: fontsFamily(bold-c);
        color:color(color-1);
        font-weight: 700;
        line-height: 1.5;
        margin-top: 20px;
        margin-bottom: .5m;
    }
}
.title-faq-p{
    grid-area: title-faq-p;
    border-top: $border-bold;
    margin-top: 5em;
    text-align: center;
    font-size: 1.6rem;
    width:100%;
    font-family: fontsFamily(sbold-m);
    color:color(color-1);
    font-weight: 700;
    line-height: 1.5;
}
.title-faq-s{
    grid-area: title-faq-s;
    border-top: $border-bold;
    margin-top: 5em;
    text-align: center;
    font-size: 1.6rem;
    width:100%;
    font-family: fontsFamily(sbold-m);
    color:color(color-1);
    font-weight: 700;
    line-height: 1.5;
}
.title-faq-r{
        grid-area: title-faq-r;
        border-top: $border-bold;
        margin-top: 5em;
        text-align: center;
        font-size: 1.6rem;
        width:100%;
        font-family: fontsFamily(sbold-m);
        color:color(color-1);
        font-weight: 700;
        line-height: 1.5;
}


    //Gallery

    .gallery-products{
        grid-area: gallery-faqs;
        padding: 5em calc(5.5% - 0.5em);
        height: 100%;

        display:grid;
        grid-gap: 3em;
        grid-template-areas:
        "title-faqs-gallery"
        "gallery-items-faqs";
        background: color(color-3);
    }
    .gallery-title{
        grid-area: title-faqs-gallery;

        text-align: center;
        font-size: 1.5rem;
        width:100%;
        font-family: fontsFamily(bold-c);
        color:color(color-4);
        font-weight: 600;
        line-height: 1.5;
        border: none;
    }
    .gallery-images{
        grid-area: gallery-items-faqs;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        justify-content: center;
        align-self: center;
        align-items: center;
        align-self: center;
    }
    .gallery-img{
        width: 100%;
        
        object-fit: cover;
        padding: 1em;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .border-nr{
        width: 100%;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: $border-light;
        border-bottom:none;
        padding: 1.5em 1em 0 1em;
    }
    .border-nl{
        width: 100%;
    
        object-fit: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: $border-light;
        border-top:none;
        padding: 0 1em 1.5em 1em;
    }

    .accordion-personalization{
        grid-area: accordion-personalization;
        margin: 1em calc(5.5% - 0.5em);
        margin-bottom: 2rem;
        height: fit-content;  
        .accordion-link{
            width: 100%;
            font-size: 1.2rem;
            font-family: fontsFamily(sbold-m);
            color: color(color-2);
            margin: 1rem 0;
            padding: 1rem 1rem 0 0;
            padding-left:  0;
            background: #fff;
            box-shadow: .5rem 2px .5rem rgba(0,0,0,0.1);
        }

        .accordion-list{
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            justify-content: center;
            text-align: center;

        }
        .filter-fieldset{
            cursor: pointer;
            text-align: left;
            scroll-behavior: smooth;
            border:none;
            padding-bottom: 1rem;
        }
        .filter-legend{
            display: flex;
            font-style:normal;
            font-variant: normal;
            justify-content: space-between;
            align-items: center;
            padding: 0em;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }
        .filter-legend::after{
            position: relative;
            display:flex;
            color: colors(color-1);
            right: 0;
            font-family: "Font Awesome 5 Free"; 
            font-weight: 600;
            font-size:15px; 
            border-width: 0 3px 3px 0;
            content:"\f077";
            
        }
        .filter-legend--up::after{
            position: relative;
            content: "\f077";
            right: 0;
            display: inline-block;
            color: colors(color-1);
            border-width: 0 3px 3px 0;
            animation-name: rotateIconUp;
            transform: translateY(-50);
            animation-duration: 0.3s;
            transition: 0.3s;
        }
        .filter-legend--down::after{
            position: relative;
            content: "\f078";
            animation-name: rotateIconDown;
            animation-duration: 0.3s;
            transform: translateY(-50);
        }
        .filter-title{
            font-family: "Font Awesome 5 Free"; 
            content:"\f077";
            color: colors(color-2);
            padding-left: 1rem;

            span{
                color:black;
                font-family: fontsFamily(regular-m);
            }
        }
        .categorys-lists[category]{
            display:none;
            width: 100%;
        
            li{
                width: 100%;
                a{
                    text-align: left;
                    scrollbar-gutter: 0;
                    scroll-behavior: none;
                    box-sizing: border-box;
                    font-size:  1rem;
                    text-align: center;
                    color:color(color-2);
                    font-family: fontsFamily(regular-m);
                    width: 100%;
                    transition:transform all .3s ease-in-out;
                        &:active &:focus {
                        transition:ease all .5s;
                        width: 100%;
                        text-align: center;
                        background:color(color-3);
                        }
                    }
            }
        }
        .categorys-lists[category]{	
            position: relative;
            z-index: 1;
            width: 100%;
            .text-faqs{
                padding:.6rem;
                text-align: left;
                font-size:  1rem;
                font-family: fontsFamily(regular-m);
                font-weight: 500;
                padding-left: 1rem;
                line-height: 1.5;
                color: color(color-2);
                
                span{
                    font-family: fontsFamily(sbold-m);
                    color: color(color-2);
                }
            }
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: .2rem;
                height: 100%;
                background-color: color(color-5);
                z-index: -1;
            }
        }
    }
    .accordion-payment-and-shipping{
        grid-area: accordion-payment-and-shipping;
        margin: 1em calc(5.5% - 0.5em);
        margin-bottom: 2rem;
        height: fit-content;  
        .accordion-link{
            width: 100%;
            font-size: 1.2rem;
            font-family: fontsFamily(sbold-m);
            color: color(color-2);
            margin: 1rem 0;
            padding: 1rem 1rem 0 0;
            padding-left:  0;
            background: #fff;
            box-shadow: .5rem 2px .5rem rgba(0,0,0,0.1);
        }

        .accordion-list{
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            justify-content: center;
            text-align: center;

        }
        .filter-fieldset{
            cursor: pointer;
            text-align: left;
            scroll-behavior: smooth;
            border:none;
            padding-bottom: 1rem;
        }
        .filter-legend{
            display: flex;
            font-style:normal;
            font-variant: normal;
            justify-content: space-between;
            align-items: center;
            padding: 0em;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }
        .filter-legend::after{
            position: relative;
            display:flex;
            color: colors(color-1);
            right: 0;
            font-family: "Font Awesome 5 Free"; 
            font-weight: 600;
            font-size:15px; 
            border-width: 0 3px 3px 0;
            content:"\f077";
            
        }
        .filter-legend--up::after{
            position: relative;
            content: "\f077";
            right: 0;
            display: inline-block;
            color: colors(color-1);
            border-width: 0 3px 3px 0;
            animation-name: rotateIconUp;
            transform: translateY(-50);
            animation-duration: 0.3s;
            transition: 0.3s;
        }
        .filter-legend--down::after{
            position: relative;
            content: "\f078";
            animation-name: rotateIconDown;
            animation-duration: 0.3s;
            transform: translateY(-50);
        }
        .filter-title{
            font-family: "Font Awesome 5 Free"; 
            content:"\f077";
            color: colors(color-2);
            padding-left: 1rem;

            span{
                color:black;
                font-family: fontsFamily(regular-m);
            }
        }
        .categorys-lists[category]{
            display:none;
            width: 100%;
        
            li{
                width: 100%;
                a{
                    text-align: left;
                    scrollbar-gutter: 0;
                    scroll-behavior: none;
                    box-sizing: border-box;
                    font-size:  1rem;
                    text-align: center;
                    color:color(color-2);
                    font-family: fontsFamily(regular-m);
                    width: 100%;
                    transition:transform all .3s ease-in-out;
                        &:active &:focus {
                        transition:ease all .5s;
                        width: 100%;
                        text-align: center;
                        background:color(color-3);
                        }
                    }
            }
        }
        .categorys-lists[category]{	
            position: relative;
            z-index: 1;
            width: 100%;
            .text-faqs{
                padding:.6rem;
                text-align: left;
                font-size:  1rem;
                font-family: fontsFamily(regular-m);
                font-weight: 500;
                padding-left: 1rem;
                line-height: 1.5;
                color: color(color-2);
                
                span{
                    font-family: fontsFamily(sbold-m);
                    color: color(color-2);
                }
            }
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: .2rem;
                height: 100%;
                background-color: color(color-5);
                z-index: -1;
            }
        }
    }
    .accordion-returns-and-refunds{
        grid-area: accordion-returns-and-refunds;
        margin: 1em calc(5.5% - 0.5em);
        margin-bottom: 2rem;
        height: fit-content;  
        .accordion-link{
            width: 100%;
            font-size: 1.2rem;
            font-family: fontsFamily(sbold-m);
            color: color(color-2);
            margin: 1rem 0;
            padding: 1rem 1rem 0 0;
            padding-left:  0;
            background: #fff;
            box-shadow: .5rem 2px .5rem rgba(0,0,0,0.1);
        }

        .accordion-list{
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            justify-content: center;
            text-align: center;

        }
        .filter-fieldset{
            cursor: pointer;
            text-align: left;
            scroll-behavior: smooth;
            border:none;
            padding-bottom: 1rem;
        }
        .filter-legend{
            display: flex;
            font-style:normal;
            font-variant: normal;
            justify-content: space-between;
            align-items: center;
            padding: 0em;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }
        .filter-legend::after{
            position: relative;
            display:flex;
            color: colors(color-1);
            right: 0;
            font-family: "Font Awesome 5 Free"; 
            font-weight: 600;
            font-size:15px; 
            border-width: 0 3px 3px 0;
            content:"\f077";
            
        }
        .filter-legend--up::after{
            position: relative;
            content: "\f077";
            right: 0;
            display: inline-block;
            color: colors(color-1);
            border-width: 0 3px 3px 0;
            animation-name: rotateIconUp;
            transform: translateY(-50);
            animation-duration: 0.3s;
            transition: 0.3s;
        }
        .filter-legend--down::after{
            position: relative;
            content: "\f078";
            animation-name: rotateIconDown;
            animation-duration: 0.3s;
            transform: translateY(-50);
        }
        .filter-title{
            font-family: "Font Awesome 5 Free"; 
            content:"\f077";
            color: colors(color-2);
            padding-left: 1rem;

            span{
                color:black;
                font-family: fontsFamily(regular-m);
            }
        }
        .categorys-lists[category]{
            display:none;
            width: 100%;
        
            li{
                width: 100%;
                a{
                    text-align: left;
                    scrollbar-gutter: 0;
                    scroll-behavior: none;
                    box-sizing: border-box;
                    font-size:  1rem;
                    text-align: center;
                    color:color(color-2);
                    font-family: fontsFamily(regular-m);
                    width: 100%;
                    transition:transform all .3s ease-in-out;
                        &:active &:focus {
                        transition:ease all .5s;
                        width: 100%;
                        text-align: center;
                        background:color(color-3);
                        }
                    }
            }
        }
        .categorys-lists[category]{	
            position: relative;
            z-index: 1;
            width: 100%;
            .text-faqs{
                padding:.6rem;
                text-align: left;
                font-size:  1rem;
                font-family: fontsFamily(regular-m);
                font-weight: 500;
                padding-left: 1rem;
                line-height: 1.5;
                color: color(color-2);
                
                span{
                    font-family: fontsFamily(sbold-m);
                    color: color(color-2);
                }
            }
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: .2rem;
                height: 100%;
                background-color: color(color-5);
                z-index: -1;
            }
        }
    }
@include media-up(md) {

    /* Accordion */
    .accordion{
        grid-area: introdution-faqs;
        padding: 1em calc(2.5% - 0.5em);
        padding:0;

    }

    .gallery-images{
        grid-template-columns: 1fr 1fr;
    }
    .border-nr{
        width: 100%;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: $border-light;
        border-right:none;
        border-bottom: none;
        padding: 1em 0 0 1em;
    }
    .border-nl{
        width: 100%;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: $border-light;
        border-top:none;
        border-left:none;  
        padding: 0 1em 1em 0em;
    }

    .md-pad-1{
        padding-left: 0;
        padding-top: 2em;
    }
    .md-pad-2{
        padding-right: 0;
        padding-top: 0em;
    }
    .accordion{
        grid-area: introdution-faqs;
        margin: 1em calc(13.5% - 0.5em);
        margin-bottom: 2rem;
        height: fit-content;
        
        .accordion-link{
            width: 100%;
            font-size: 1.2rem;
            font-family: fontsFamily(sbold-m);
            color: color(color-2);
            margin: 1rem 0;
            padding: 2rem 2rem 0rem 0em;
            padding-left:  0;
            background: #fff;
            box-shadow: .5rem 2px .5rem rgba(0,0,0,0.1);
        }
        .accordion-list{
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            justify-content: center;
            text-align: center;

        }
        .filter-fieldset{
            cursor: pointer;
            text-align: left;
            scroll-behavior: smooth;
            border:none;
            padding-bottom: 2rem;
        }
        .filter-legend{
            display: flex;
            font-style:normal;
            font-variant: normal;
            justify-content: space-between;
            align-items: center;
            padding: 0em;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }
        .filter-legend::after{
            position: relative;
            display:flex;
            color: colors(color-1);
            right: 0;
            font-family: "Font Awesome 5 Free"; 
            font-weight: 600;
            font-size:15px; 
            border-width: 0 3px 3px 0;
            content:"\f077";
            
        }
        .filter-legend--up::after{//Agregar con js
            position: relative;
            content: "\f077";
            right: 0;
            display: inline-block;
            color: colors(color-1);
            border-width: 0 3px 3px 0;
            animation-name: rotateIconUp;
            transform: translateY(-50);
            animation-duration: 0.3s;
            transition: 0.3s;
        }
        .filter-legend--down::after{//Agregar para dar vuelta el chevron
            position: relative;
            content: "\f078";
            animation-name: rotateIconDown;
            animation-duration: 0.3s;
            transform: translateY(-50);
        }
        .filter-title{
            font-family: "Font Awesome 5 Free"; 
            content:"\f077";
            color: colors(color-2);
            padding-left: 3rem;
            span{
                color:black;
                font-family: fontsFamily(regular-m);
            }
        }
        .categorys-lists[category]{
            display:none;
            width: 100%;
        
            li{
                width: 100%;
                a{
                    text-align: left;
                    scrollbar-gutter: 0;
                    scroll-behavior: none;
                    box-sizing: border-box;
                    font-size:  1rem;
                    text-align: center;
                    color:color(color-2);
                    font-family: fontsFamily(regular-m);
                    width: 100%;
                    transition:transform all .3s ease-in-out;
                        &:active &:focus {
                        transition:ease all .5s;
                        width: 100%;
                        text-align: center;
                        background:color(color-3);
                        }
                    }
            }
        }
        .categorys-lists[category]{	
            position: relative;
            z-index: 1;
            width: 100%;
            ul{
                padding-top: 1rem;
                li{
                    padding:0 0 .5rem .5rem;
                }
            }
            .text-faqs{
                padding: 2rem 0 0 0 0;
                text-align: left;
                font-size:  1.2rem;
                font-family: fontsFamily(regular-m);
                font-weight: 500;
                padding-left: 3rem;
                line-height: 1.5;
                color: color(color-2);
                
                span{
                    font-family: fontsFamily(sbold-m);
                    color: color(color-2);
                }
            }
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: .2rem;
                height: 100%;
                background-color: color(color-5);
                z-index: -1;
            }
        }
    }
}

@include media-up(lg) {
    .container-faqs{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "faqs-accordions"
        "gallery-faqs" 
        ;
        position: relative;
        width: 100%;
    }
    .bkg-faqs{
        grid-area:faqs-accordions ;
        padding: 1em calc(15.5% - 0.5em);
        display: grid;
        grid-gap:3em;
        grid-template-columns: 30% 1fr;
        grid-template-areas:
        "title-all-page title-all-page"
        "title-faq-p  accordion-personalization"
        "title-faq-s  accordion-payment-and-shipping"
        "title-faq-r  accordion-returns-and-refunds";
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        object-fit: cover;
        background: url('../assets/images/faqs-hero.png');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }
    .title-intro-faqs{
        grid-area:title-all-page;
        h1{
            text-align: left;
            font-size: 2.5rem;
            width:100%;
            font-family: fontsFamily(bold-c);
            color:color(color-1);
            font-weight: 700;
            line-height: 1.5;
    /*         border-bottom: $border-light; */
            margin-top: 5em;
            margin-bottom: .5em;
        }
    }
    .title-faq-p{
        grid-area: title-faq-p;
        outline-offset: $border-bold;
        margin-top:1.5em;
        text-align: left;
        font-size: 1.6rem;
        width: fit-content;
        font-family: fontsFamily(sbold-m);
        color:color(color-1);
        font-weight: 900;
        line-height: 1.5;
   
    }
    .title-faq-s{
        grid-area: title-faq-s;
        border-top: $border-bold;
        margin-top:1.5em;
        text-align: left;
        font-size: 1.6rem;
        width:100%;
        font-family: fontsFamily(sbold-m);
        color:color(color-1);
        font-weight: 700;
        line-height: 1.5;
    }
    .title-faq-r{
        grid-area:title-faq-r;
        border-top: $border-bold;
        margin-top:1.5em;
        text-align: left;
        font-size: 1.6rem;
        width:90%;
        font-family: fontsFamily(sbold-m);
        color:color(color-1);
        font-weight: 900;
        line-height: 1.5;

    }
    /* Accordion */
    .accordion-personalization{
        grid-area: accordion-personalization;
        
        margin-bottom: 2rem;
        height: fit-content;
        .accordion-link{
            width: 100%;
            font-size: 1.2rem;
            font-family: fontsFamily(sbold-m);
            color: color(color-2);
            padding-left:  0;
            background: #fff;
            box-shadow: .5rem 2px .5rem rgba(0,0,0,0.1);
        }
        .accordion-list{
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            justify-content: center;
            text-align: center;

        }
        .filter-fieldset{
            cursor: pointer;
            text-align: left;
            scroll-behavior: smooth;
            border:none;
            padding:0;
        }
        .filter-legend{
            display: flex;
            font-style:normal;
            font-variant: normal;
            justify-content: space-between;
            align-items: center;
            padding: 2rem 3rem 2rem  0;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }
        .filter-legend::after{
            position: relative;
            display:flex;
            color: colors(color-1);
            right: 0;
            font-family: "Font Awesome 5 Free"; 
            font-weight: 600;
            font-size:15px; 
            border-width: 0 3px 3px 0;
            content:"\f077";
            
        }
        .filter-legend--up::after{//Agregar con js
            position: relative;
            content: "\f077";
            right: 0;
            display: inline-block;
            color: colors(color-1);
            border-width: 0 3px 3px 0;
            animation-name: rotateIconUp;
            transform: translateY(-50);
            animation-duration: 0.3s;
            transition: 0.3s;
        }
        .filter-legend--down::after{//Agregar para dar vuelta el chevron
            position: relative;
            content: "\f078";
            animation-name: rotateIconDown;
            animation-duration: 0.3s;
            transform: translateY(-50);
        }
        .filter-title{
            font-family: "Font Awesome 5 Free"; 
            content:"\f077";
            color: colors(color-2);
            padding-left: 3rem;
            span{
                color:black;
                font-family: fontsFamily(regular-m);
            }
        }
        .categorys-lists[category]{	
            position: relative;
            z-index: 1;
            width: 100%;
            margin-bottom: 1rem;
            ul{
                padding-top: 1rem;
                li{
                    padding:0 ;
                }
            }
            .text-faqs{
                padding-right: 3rem;
                text-align: left;
                font-size:  1.2rem;
                font-family: fontsFamily(regular-m);
                font-weight: 500;
                padding-left: 3rem;
                line-height: 1.5;
                color: color(color-2);
                span{
                    font-family: fontsFamily(sbold-m);
                    color: color(color-2);
                }
            }
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: .2rem;
                height: 100%;
                background-color: color(color-5);
                z-index: -1;
            }
        }
    }
    .accordion-payment-and-shipping{
        grid-area: accordion-payment-and-shipping;
       
        margin-bottom: 2rem;
        height: fit-content;
        .accordion-link{
            width: 100%;
            font-size: 1.2rem;
            font-family: fontsFamily(sbold-m);
            color: color(color-2);
            padding-left:  0;
            background: #fff;
            box-shadow: .5rem 2px .5rem rgba(0,0,0,0.1);
        }
        .accordion-list{
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            justify-content: center;
            text-align: center;

        }
        .filter-fieldset{
            cursor: pointer;
            text-align: left;
            scroll-behavior: smooth;
            border:none;
            padding:0;
        }
        .filter-legend{
            display: flex;
            font-style:normal;
            font-variant: normal;
            justify-content: space-between;
            align-items: center;
            padding: 2rem 3rem 2rem  0;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }
        .filter-legend::after{
            position: relative;
            display:flex;
            color: colors(color-1);
            right: 0;
            font-family: "Font Awesome 5 Free"; 
            font-weight: 600;
            font-size:15px; 
            border-width: 0 3px 3px 0;
            content:"\f077";
            
        }
        .filter-legend--up::after{//Agregar con js
            position: relative;
            content: "\f077";
            right: 0;
            display: inline-block;
            color: colors(color-1);
            border-width: 0 3px 3px 0;
            animation-name: rotateIconUp;
            transform: translateY(-50);
            animation-duration: 0.3s;
            transition: 0.3s;
        }
        .filter-legend--down::after{//Agregar para dar vuelta el chevron
            position: relative;
            content: "\f078";
            animation-name: rotateIconDown;
            animation-duration: 0.3s;
            transform: translateY(-50);
        }
        .filter-title{
            font-family: "Font Awesome 5 Free"; 
            content:"\f077";
            color: colors(color-2);
            padding-left: 3rem;
            span{
                color:black;
                font-family: fontsFamily(regular-m);
            }
        }
        .categorys-lists[category]{	
            position: relative;
            z-index: 1;
            width: 100%;
            margin-bottom: 1rem;
            ul{
                padding-top: 1rem;
                li{
                    padding:0 ;
                }
            }
            .text-faqs{
                padding-right: 3rem;
                text-align: left;
                font-size:  1.2rem;
                font-family: fontsFamily(regular-m);
                font-weight: 500;
                padding-left: 3rem;
                line-height: 1.5;
                color: color(color-2);
                span{
                    font-family: fontsFamily(sbold-m);
                    color: color(color-2);
                }
            }
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: .2rem;
                height: 100%;
                background-color: color(color-5);
                z-index: -1;
            }
        }
    }
    .accordion-returns-and-refunds{
        grid-area: accordion-returns-and-refunds;
        margin-bottom: 2rem;
        height: fit-content;
        .accordion-link{
            width: 100%;
            font-size: 1.2rem;
            font-family: fontsFamily(sbold-m);
            color: color(color-2);
            padding-left:  0;
            background: #fff;
            box-shadow: .5rem 2px .5rem rgba(0,0,0,0.1);
        }
        .accordion-list{
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            justify-content: center;
            text-align: center;

        }
        .filter-fieldset{
            cursor: pointer;
            text-align: left;
            scroll-behavior: smooth;
            border:none;
            padding:0;
        }
        .filter-legend{
            display: flex;
            font-style:normal;
            font-variant: normal;
            justify-content: space-between;
            align-items: center;
            padding: 2rem 3rem 2rem  0;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }
        .filter-legend::after{
            position: relative;
            display:flex;
            color: colors(color-1);
            right: 0;
            font-family: "Font Awesome 5 Free"; 
            font-weight: 600;
            font-size:15px; 
            border-width: 0 3px 3px 0;
            content:"\f077";
            
        }
        .filter-legend--up::after{//Agregar con js
            position: relative;
            content: "\f077";
            right: 0;
            display: inline-block;
            color: colors(color-1);
            border-width: 0 3px 3px 0;
            animation-name: rotateIconUp;
            transform: translateY(-50);
            animation-duration: 0.3s;
            transition: 0.3s;
        }
        .filter-legend--down::after{//Agregar para dar vuelta el chevron
            position: relative;
            content: "\f078";
            animation-name: rotateIconDown;
            animation-duration: 0.3s;
            transform: translateY(-50);
        }
        .filter-title{
            font-family: "Font Awesome 5 Free"; 
            content:"\f077";
            color: colors(color-2);
            padding-left: 3rem;
            span{
                color:black;
                font-family: fontsFamily(regular-m);
            }
        }
        .categorys-lists[category]{	
            position: relative;
            z-index: 1;
            width: 100%;
            margin-bottom: 1rem;
            ul{
                padding-top: 1rem;
                li{
                    padding:0 ;
                }
            }
            .text-faqs{
                padding-right: 3rem;
                text-align: left;
                font-size:  1.2rem;
                font-family: fontsFamily(regular-m);
                font-weight: 500;
                padding-left: 3rem;
                line-height: 1.5;
                color: color(color-2);
                span{
                    font-family: fontsFamily(sbold-m);
                    color: color(color-2);
                }
            }
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: .2rem;
                height: 100%;
                background-color: color(color-5);
                z-index: -1;
            }
        }
    }
    //Gallery
    .gallery-products{
        grid-area: gallery-faqs;
        padding: 5em calc(15.5% - 0.5em);
        height: 100%;
        display:grid;
        grid-gap: 3em;
        grid-template-areas:
        "title-faqs-gallery"
        "gallery-items-faqs";
        background: color(color-3);
    }
    .gallery-title{
        grid-area: title-faqs-gallery;
        text-align: center;
        font-size: 2rem;
        width:100%;
        font-family: fontsFamily(bold-c);
        color:color(color-4);
        font-weight: 600;
        line-height: 1.5;
        border: none;
    }
    .gallery-images{
        grid-area: gallery-items-faqs;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;
        justify-content: center;
        align-self: center;
        align-items: center;
        align-self: center;
    }
    .gallery-img{
        width: 100%;
        object-fit: cover;
        padding: 1em;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .border-nr{
        width: 100%;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: $border-light;
        border-right:none;
        padding: 1.5em 0 1.5em 1.5em;
    }
    .border-nl{
        width: 100%;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: $border-light;
        border-left:none;
        padding: 1.5em 1.5em 1.5em 0;
    }
}
