
@import '../components/navbar';
@import '../components/buttons';
@import '../components/footer';

/* Mobile */
.hero{

    width: 100%;
    height: 100vh;
    display:flex;
    object-fit: cover;
    background: url('../assets/images/hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .content-hero{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content{
        text-align: center;   
        h1{
            font-size: 3rem;
            font-family: fontsFamily(bold-c);
            color:color(color-2);
            font-weight: 700;
            line-height: 1.2;
            margin-bottom: .2em;
        }
        p{
            font-size:  1.2rem;
            font-family: fontsFamily(sbold-m);
            font-weight: 500;
            padding: 1em;
            line-height: 1.5;
            color:color(color-2);
            margin-bottom: 2.125em;
        }
    }
    .hero-btn{
        @include genericBtn;
        &:hover{
            @include hoverBtns;
        }
    }

}
/* Intro Mobile */
.intro{
    padding:5em 2em;
    background: color(color-4);
    display:grid;
    align-items: center;
    text-align: center;
    grid-gap: 5em;
    grid-template-areas: 
        "box-1"
        "box-2";
        .border{
            border:$border-light;
            max-width:100%;
            margin-right: 1em;
            margin-bottom: 2.125em;
        }
        .box-1{
            grid-area: box-1;
        }
        .box-2{
            grid-area: box-2;

        }
        .intro-img {
            position: relative;
            top: 20px;
            left: 20px;
            height: 100%;
            width: 100%;
        }
       
        p{
            font-size:  1.2rem;
            font-family: fontsFamily(light-m);
            font-weight: 500;
            padding: 1em;
            line-height: 1.5;
            color:color(color-2);
            margin-bottom: .5em;
         
        }
        .intro-btn{
            @include genericBtn;
            font-size: 1rem;
            &:hover{
                @include hoverBtns;
            }
        }
}
/* Main */
.content-main{
    padding:5em 2em;
    background: color(color-6);
    display:grid;
    align-items: center;
    text-align: center;
    grid-gap: 5em;
    grid-template-areas: 
        "box-2"
        "box-1";
        .border{
            border:$border-light;
            max-width:100%;
            margin-right: 1em;
            margin-bottom: 2.125em;
        }
        .box-1{
            grid-area: box-1;
        }
        .box-2{
            grid-area: box-2;

        }
        .main-img {
            position: relative;
            top: 20px;
            left: 20px;
            height: 100%;
            width: 100%;
        }
        h2{
            width: fit-content;
            font-size: 1.6rem;
            font-family: fontsFamily(regular-c);
            color:color(color-1);
            font-weight: 400;
            line-height: 1.4;
            padding: .6em;
            margin:0 auto;
            margin-bottom: .5em;
            border-bottom: $border-bold;
        }
        p{
            font-size:  1.2rem;
            font-family: fontsFamily(light-m);
            font-weight: 500;
            padding: 1em;
            line-height: 1.5;
            color:color(color-2);
            margin-bottom: .5em;
         
        }
        .main-btn{
            @include genericBtn;
            font-size: 1rem;
            &:hover{
                @include hoverBtns;
            }
        }
}
/* Shipping */
.content-shipping{
    text-align: center;
    padding:6em 3em;
    background: color(color-4);
 
    h2{
        font-size: 1.6rem;
        font-family: fontsFamily(regular-c);
        font-weight: 500;
        margin: .5em 0;
        color: color(color-2);
    }
    p{
        font-size:  1.2rem;
        font-family: fontsFamily(light-m);
        font-weight: 500;
        padding: 1em;
        line-height: 1.5;
        color:color(color-2);
        margin-bottom: .5em;     
    }
    .payment{
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: .5em;
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1em;
               
                img{
                
                    width: 70px;
                    height: 80px;
                }
            }
        }
      
        .main-btn{
            @include genericBtn;
            font-size: 1rem;
            margin-bottom: 1em;
            &:hover{
                @include hoverBtns;
            }
        }
    }
    .shipping{
        .main-btn{
            @include genericBtn;
            font-size: 1rem;
            margin-bottom: 1em;
            &:hover{
                @include hoverBtns;
            }
        }
    }
}
/*----Breakpoints---- */


@include media-up(md){
    /* Hero */
    body,html{
        font-size: 20px;
    }
    .hero{
        padding: 3em 2em;
        display: flex;
        justify-content: flex-start;
    }
    .content-hero{
        display: flex;
        justify-content: flex-start;
        .content{
            text-align: left;
            h1{
                font-size: 2.5rem;
            }
            p{
                width: 511px;
                padding: 0;
            }
        }
    }
    .hero-btn{
        @include genericBtn;
        font-size: 1rem;
        &:hover{
            @include hoverBtns;
        }
    }

    /* Intro */
    .intro{
        display: grid;
        padding:1em;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "box-2"
        "box-1";
   
        .box-2{
            margin:0 auto;
            width: 500px;
            height: 500px;
        }
    }
    
    .content-main{
        display: grid;
        grid-template-rows: 1fr;
        background: #fff;
        grid-template-areas: 
        "box-2"
        "box-1";
        .box-1{
            margin:0 auto;
            width: 500px;
            height: 500px;
        }
        h2{
            padding: 0;
            width: fit-content;
            margin:0 auto;
        }

    }
    
    .content-shipping{
        text-align: center;
        display: grid;
        padding: 1em calc(15% - 0.5em);
        grid-gap:2em;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "payment"
            "shipping";
        .payment{
            grid-area: payment;
         
        }   
            .payment-wrap{
                display: flex;
                align-items: center;
                flex-direction: column;
                ul{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                }
                li{
                    img{
                        width: 80px;
                        height: 90px;
                    }
                }
            }

        .shipping{
            grid-area: shipping;
           
        }
        .shipping-wrap{
            display: flex;
            align-items: center;
            flex-direction: column;
            ul{
                display: flex;
                align-items: center;
            }
            li{
                img{
                    width: 80px;
                    height: 90px;
                }
            }
        }
        h2{
            font-size: 2rem;
            margin-bottom: 1em;
        }
        p{
            margin-bottom: 1em;
            padding: 0;
        }    
    }

}

    

@include media-up(lg){
    main{
        margin: 0 auto;
    }
    body,html{
        font-size: 24px;
    }
    /* Hero */
    .hero {
        padding: 3em calc(15% - .5em);
        width: 100%;
        .content-hero{
            display: flex;
            justify-content: center;
            .content{
                text-align: left;
                h1{
                    font-size: 3.181818rem;
                }
                p{
                    margin:0 0 3em 0;
                    box-sizing: border-box;
                    width: 600px;
                }
            }
        }
    }
    /* Intro */
    .intro{
        display:grid;
        text-align: left;
        grid-template-columns: 40% auto;
        grid-template-rows: 1fr;
        grid-gap: 5em;
        justify-content: center;
        align-items: flex-start;
        padding:1em;
        padding: 5em 2em;
        grid-template-areas: 
        "box-1 box-2";
        
        .box-1{
            width: fit-content;
        }
        p{
            width: 100%;
            padding:0;
            margin-bottom: 2em;
        }

    }
    /* Main */
    .content-main{
        display:grid;
        text-align: left;
        grid-template-columns: 50% auto;
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: flex-start;
        padding: 5em 2em;
        grid-template-areas: 
        "box-1 box-2";
        grid-gap: 5em;
        .box-2{
            margin:0 auto;
            width: fit-content;
        }

        p{
            width: 100%;
            padding:0;
            margin-bottom: 2em;
        }
        h2{
            border:none;
            border-bottom: $border-bold;
            text-align: left;
            margin:0;
            margin-bottom: 1em;
        }
    }
    .content-shipping{
        text-align: left;
        display: grid;
        padding: 2em 3em;
        grid-gap:5em;
        width: 100%;
        grid-template-columns:  3% auto auto 1%;
        grid-row: 1fr;
        grid-template-areas: 
            ". payment shipping .";
        justify-content: space-between;
        align-items: stretch;
        .payment{
            grid-area: payment;
            
            .payment-wrap{
                display: flex;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                ul{
                    padding:0;
                    display: flex;
                    align-items: center;
                    width: 200px;
                }
                li{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding:0;
                    margin: 1em;
                    margin-left: 0;
                }
                img{
                    width: 40px;
                    height: 60px;
                    line-height: 20px;
                   
                }
                .main-btn{
                    margin:0;
                    width: 200px;
                    margin-right: 1em;
                }
            }
        }
        .shipping{
            grid-area: shipping;
        }
        .shipping-wrap{
            display: flex;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            ul{
                padding:0;
                display: flex;
                align-items: center;
                width: 200px;
               
            }
            li{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding:0;
                margin: 1em;
                margin-left: 0;
                width: 100%;
            }
            img{
                width: 40px;
                height: 60px;
                line-height: 20px;
               
            }
            .main-btn{
                margin:0;
                width: 200px;
                margin-right: 1em;
            }
        }
        h2{
            display: block;
            font-size: 2rem;
            margin-bottom: 1em;
        }
        p{
            padding: 0;
        }
    }
    
}

