
@import '../components/navbar';
@import '../components/buttons';

/* Mobile */
.hero{
    width: 100%;
    height: 100vh;
    display:flex;
    overflow: hidden;
    object-fit: cover;
    background-position: center;
    background-image: url('../../assets/images/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    .content-hero{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content{
        text-align: center;   
        h1{
            font-size: fontSize(h1);
            font-family: fontsFamily(bold-c);
            color:color(color-2);
            font-weight: 700;
            line-height: 1.2;
            margin-bottom: 1em;
        }
        p{
            font-size:  fontSize(p);
            font-family: fontsFamily(sbold-m);
            font-weight: 500;
            padding: 1em;
            line-height: 1.5;
            color:color(color-2);
            margin-bottom: 2.125em;
        }
    }
   
    .hero-btn{
        @include genericBtn;
      
        &:hover{
            @include hoverBtns;
        }
    }

}
.intro{
    padding:1em 2em;
    background:color(color-4);
    display:block;
    .intro-box-1{
        border: $border-light;
        width: fit-content;
        height: fit-content;
        margin: 0 auto;
        .intro-img{
            position: relative;
            right:10px;
            top:20px;
            max-width: 100%;

        }
    }
    .intro-box-2{
        display: block;
        right: 0;
        text-align: center;
       
        p{
            width: fit-content;
            font-size: 1.2rem;
            color:color(color-2);
            line-height: 1.5;
            font-family: fontsFamily(regular-m);
        }
    }
    .intro-btn{
        @include genericBtn;
      
        &:hover{
            @include hoverBtns;
        }
    }
   
}



/*----Breakpoints---- */


@include media-up(md){
    /* Hero */
    body,html{
        font-size: 20px;
    }
    .hero{
        padding: 5em 2em;
        display: flex;
        justify-content: flex-start;
    }
    .content-hero{
        display: flex;
        justify-content: flex-start;
        .content{
            text-align: left;
            h1{
                font-size: 2.5rem;
            }
            p{
                width: 511px;
                padding: 0;
            }
        }
       
    }
    .hero-btn{
        @include genericBtn;
        &:hover{
            @include hoverBtns;
        }
    }
    /* Intro */
    .intro{
        height: 100vh;
        
    }
}
@include media-up(lg){
    body,html{
        font-size: 24px;
    }
    /* Hero */
    .hero {
        .content-hero{
            display: flex;
            justify-content: flex-start;
            .content{
                text-align: left;
                h1{
                    font-size: 3.181818rem;
                }

                p{
                    margin:0 0 3rem 0;
                    box-sizing: border-box;
                    width: 511px;
                }
            }
        }
    }
        /* Intro */
    .grid-container{
        display:grid;
        grid-gap:1rem;
        grid-template-columns: 50% auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "grid-description  grid-img"
            "grid-btn         grid-img ";
    
        justify-items: center;
        align-items: start;
        justify-content: space-between;
        
        .grid-description{
            grid-area: grid-description;
            text-align: left;
            p{
                padding: 0;
            }
        }
        .grid-img{
            grid-area: grid-img;
            align-self: start;

        }
        .grid-btn{
            grid-area: grid-btn;
            justify-self: start;
        }
    }
    .intro-box-1{
        .intro-img{
            width: fit-content;
            height: fit-content;
        }
    }

}

