
@import '../components/navbar';
@import '../components/buttons';

/* Mobile */
.hero{
    width: 100%;
    height: 100vh;
    display:flex;

    object-fit: cover;


    background: url('../assets/images/hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .content-hero{

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content{
        text-align: center;   
        h1{
            font-size: 3rem;
            font-family: fontsFamily(bold-c);
            color:color(color-2);
            font-weight: 700;
            line-height: 1.2;
            margin-bottom: 1em;
        }
        p{
            font-size:  1.2rem;
            font-family: fontsFamily(sbold-m);
            font-weight: 500;
            padding: 1em;
            line-height: 1.5;
            color:color(color-2);
            margin-bottom: 2.125em;
        }
    }
    .hero-btn{
        @include genericBtn;
      
        &:hover{
            @include hoverBtns;
        }
    }

}
/* Intro Mobile */

.intro{
    padding:5em 2em;
    position: relative;
    background-color: color(color-4);
    display:grid;
    align-items: center;
    grid-gap: 2em;
    grid-template-areas: 
        "box-1"
        "box-2";
                            
    padding: 1em;
    text-align: center;
    .box-1{
        grid-area: box-1;
        width: 100%;
        right: 0;
      
        margin: 3em 0;
        p{
            font-size:  1.2rem;
            font-family: fontsFamily(light-m);
            line-height: 1.5;
            color:color(color-2);
            margin-bottom: 2.125em;
        }
        .intro-btn{
            @include genericBtn;
            &:hover{
                @include hoverBtns;
            }
        }
    }
    .box-2{
        box-sizing: content-box;
        grid-area: box-2;
        .border{
            border:$border-light;
            max-width:100%;
            margin-left: 1em;

        }
        .intro-img{
            position: relative;
            top: 20px;
            right: 20px;
            height: 100%;
            width: 100%;
        }   
    }
}

/*----Breakpoints---- */


@include media-up(md){
    /* Hero */
    body,html{
        font-size: 20px;
    }
    .hero{
        padding: 5em 2em;
        display: flex;
        justify-content: flex-start;
    }
    .content-hero{
        display: flex;
        justify-content: flex-start;
        .content{
            text-align: left;
            h1{
                font-size: 2.5rem;
            }
            p{
                width: 511px;
                padding: 0;
            }
        }
       
    }
    .hero-btn{
        @include genericBtn;
        &:hover{
            @include hoverBtns;
        }
    }
    .intro{
    
   
        .box-2{
            margin:0 auto;
            width: 500px;
            height: 500px;
          
        }
    }
}
@include media-up(lg){
    body,html{
        font-size: 24px;
    }
    /* Hero */
    .hero {
        height: 100vh;
        padding: 3em 10em;
        .content-hero{
            display: flex;
            justify-content: flex-start;
            .content{
                text-align: left;
                h1{
                    font-size: 3.181818rem;
                }

                p{
                    margin:0 0 3em 0;
                    box-sizing: border-box;
                    width: 600px;
                }
            }
        }
    }
    /* Intro */
    .intro{
        display: grid;
        grid-template-columns: 50% auto;
        justify-content: center;
        bottom:0;
        padding:  3em;

        text-align: left;
        grid-template-areas: 
            "box-1 box-2";

        .box-1{
            p{
              
            }
        }
        .box-2{

            margin:0;
            .intro-img{
             
                object-fit: contain;
                position: relative;
                top: 50px;
                width: 100%;
                height: 100%;
                right: 50px;

            } 
        }

    }


}

