footer {
  font-family: fontsFamily(regular-m);
  background-color: color(color-3);
  color: color(color-1);
  font-size: 1.5rem;
  display: grid;
  justify-items: center;
  grid-template-areas:
    "subs"
    "social"
    "info";
}

.footer-subs {
  grid-area: subs;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.8em;
  input {
    background-color: color(color-3);
    border: 2px solid color(color-1);
    margin: 0.5em 0;
  }
  input:focus {
    outline-color: color(color-2);
  }
  i {
    display: none;
  }
}
.footer-social {
  grid-area: social;
  padding-bottom: 0.5em;
  div {
    margin: 0.5em 0;
    text-align: center;
    i {
      padding: 0 0.2em;
      font-size: 2rem;
    }
  }
  a {
    color: color(color-1);
  }
}

.footer-info {
  grid-area: info;
  font-family: fontsFamily(light-m);
  text-align: center;
  p {
    font-size: 1rem;
  }
  p:nth-child(2) {
    display: none;
  }
}

.footer-logo {
  fill: color(color-1);
  margin: 0.5em 0;
}

@include media-up(md) {
}

@include media-up(lg) {
}

@include media-up(xl) {
}
