footer {
  position: relative;
  font-family: fontsFamily(regular-m);
  background: color(color-2);
  color: color(color-4);
  font-size: 1.5rem;
  display: grid;
  justify-items: center;
  grid-template-areas:
    "subs"
    "social"
    "info";
}

.footer-subs {
  grid-area: subs;
  text-align: center;
  display: block;
  padding-top: 1em;

  padding-bottom: .5em;

  i {
    margin-top: .8em;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    color: color(color-4);
  }
}
.footer-social {
  grid-area: social;
  padding-bottom: 0.5em;
  div {
    margin: 0.5em 0;
    text-align: center;
    i {
      color: color(color-4);
      padding: 0 0.2em;
      font-size: 2rem;
    }
  }
  a {
    color: color(color-1);
  }
}

.footer-info {
  grid-area: info;
  font-family: fontsFamily(light-m);
  text-align: center;
  p {
    font-size: 1rem;
  }
  p:nth-child(1) {
    display: none;
  }
}

.footer-logo {
  fill: color(color-1);
  margin: 0.5em 0;
  width: 40px;
  height: 40px;
}

@include media-up(md) {
  footer {
    background-color: color(color-2);
    color: color(color-4);
    font-size: 0.8rem;
    padding: 1em 5em;
    display: grid;
    align-items: center;
    grid-template-columns: 8% auto auto 8%;
    grid-template-areas:
      ". social  subs ."
      ". info  info .";
  }

  .footer-subs {
    place-self: end;
    display: flex;
    justify-content: center;
    
    align-items: center;
    padding-top: .7em;
    margin:0;
   a{
    
     padding: 0;
     margin:0;
   }
    i {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: .7rem;
      padding: 0;
      margin:0;
    
    }
  }
  .footer-social {
    place-self: start;
    padding-top: 1.5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    div {
      margin: 0 2em;
      text-align: center;
      p {
        padding-right: 1em;
      }
      i {
        padding: 0 0.5em;
        font-size: inherit;
      }
    }
    a {
      color: color(color-4);
    }
  }
  .footer-info {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "p1 logo p2";
    justify-self: space-between;
    justify-items: space-between;
    align-items: flex-end;
    p {
      font-size: 0.6rem;
      display: flex;
      justify-content: flex-start;
      grid-area: p1;
      align-items: flex-end;
    }
    p:nth-child(1) {
     
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      grid-area: p1;
  
      font-size: 0.5rem;
    }
    p:nth-child(n + 2) {
      grid-area: p2;
      display: flex;
      justify-content: flex-end;
    }
    .footer-logo {
      display: flex;
      justify-self: center;
      grid-area: logo;
      margin: 0 auto;
      max-height: 1.5em;
      margin: 0 auto;
      max-height: 2em;
    }
  }
}