
.navbar{
    position: fixed;
    background: $bg-navbar;
    padding: 1em 2em;
    display: flex;
    top:0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    margin:0;
    z-index: 1;
}
    .logo{
        object-fit: contain;
        height:3em;
        width:3em;
    }
    nav.menu-btn{
        display:block;
        transition-timing-function: 3s all;
    }
    nav .btn-menu-close{
        float:right;
        margin: .5em;
        cursor:pointer;
    }
    nav{
        display:none;
        position: fixed;
        top:0;
        z-index: 2;
        width: 100%;
        right: 0;
        top:0;
        height: 100vh;
        padding: 1em;
        background: color(color-2);
    }
    .nav-menu{
        margin-top: 5em;
    }
    li{
        list-style-type: none;
        a{
            display: block;
            text-decoration: none;
            list-style-type: none;
            padding: .5em;
            font-size: 1.5em;
            text-align: center;
            font-family: fontsFamily(bold-c);
            color:color(color-4);

            &:hover{
                transition: .2s  ease-in-out;
                color:color(color-1);
            }
        }
    }
    .container{
        display:flex;
        justify-content: space-between;
        max-width: 100%;
    }
    .mobile-menu{
        cursor: pointer;
    }



@include media-up(lg){
    body,html{
        font-size: 1.5rem;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        position: fixed;
        padding: 1em calc(15% - .5em);
        top:0;
        z-index: 1;
        .logo{
            height: 2.5rem;
            width: 2.5rem;
        }
    }
    .btn-menu-open, .btn-menu-close{
        display: none;
    }


    .navbar nav{
        display:flex;  
        justify-content: space-between;
        flex-direction: row-reverse;
        background: none;
        position: unset;
        height: auto;
        width: fit-content;
        padding: 0;
        .nav-menu{
            margin: 0;
            display: flex;
            align-items: center;
        }
        li {
            padding: .1em 0em;
        }
        a{
            font-size: .9em;
            font-family: fontsFamily(bold-c);
            transition: .2s  ease-in-out;
            padding: .5em;
        }
    }
}

