body,html{
    scroll-behavior: smooth;
/*     overflow-x: hidden; */
    font-size: 16px;
    height: 100vh;
}

*,::after,::before{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

ul,li,a,p{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}