//---------Variables---------//
$fonts:(
    regular-c:  'Cinzel Regular',
    regular-m:  'Montserrat Regular',
    bold-c:     'Cinzel Bold',
    sbold-m:     'Montserrat-SemiBold',
    light-m:     'Montserrat Light',
    black-c:    'Cinzel Black'

);

$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

$fonts-size:(
    h1:      '3.5rem',
    h2:      '3rem',
    h3:      '2.5rem',
    h4:      '2rem',
    h5:      '1.5rem',
    h6:      '1.25rem',
    p:       '1.125rem',
    small:   '0.8125rem',
    xsmall:  '0.625rem',
    xxsmall: '0.4375rem'

);

$colors: (
    color-1: #7A583E,
    color-2: #3F3D3F,
    color-3: #B0A89E,
    color-4: #F0ECEA,
    color-5: #805B6A,
);

$border-light: 1px solid #7A583E;
$border-1: 3px outset #3a252d;